<div class="grid-image">

    <div >
      <div class="description" >
        <h1 class="title_description">{{activity.title}}</h1>
          <p>Estimados egresados (as):</p>
          <p>La Universidad Nacional de San Agustín de Arequipa mediante la oficina de seguimiento de egresados le invita a participar en la presente actividad, la cual consiste en: </p>
          <p [innerHTML]="activity.description"></p>
          <div class="detail_list">
            <mat-icon>calendar_today</mat-icon>
            <span>Fecha de Inicio: {{activity.start_date.substring(0,10)}}  {{activity.start_date.substring(11,16)}}</span>
          </div>
          <div class="detail_list">
            <mat-icon>calendar_today</mat-icon>
            <span>Fecha de Finalización: {{activity.end_date.substring(0,10)}}  {{activity.end_date.substring(11,16)}}</span>
          </div>
          <button mat-button (click)="registerA(activity.id)"mat-raised-button color="primary" style="
          color:white;
          width:60%;
          margin-left: 20%;
          margin-top: 10%;
          border: 1px solid maroon;">Inscribirse</button>
      </div>
    </div>
    <div class="item-hide-small">
      <img
       id="image"
       src="{{activity.image}}"
      />
      </div>
</div>