
  .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .2s ease-in-out ;
    animation:  banner 50s infinite linear;
  }
  .banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(0, 22, 40, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }  
  .banner-content h1{      
    -webkit-text-stroke: 1px #5c1b26;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: calc(2em + 2vw);
    text-align: center;
  }
  .banner-content h1.mar-bot{
    margin-bottom: 4%;
  }
  .banner-content h1.mar-top{
    margin-top: 15%;
  }  
  .banner-content h2{
    -webkit-text-stroke: 1px #5c1b26;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: calc(1em + 1vw);
    text-align: center;
  }
  .banner-content h2.mar-bot{
    margin-bottom: 4%;
  }
  .banner-content h2.mar-top{
    margin-top: 15%;
  }  
  .banner-content a{
    text-decoration: none;
    color: #F5F5F5;
    padding: 9px 20px;
    border: 2px solid #F5F5F5;
    background-color: #880a0acc;
    transition: all .3s ease-in-out;
    font-size: 1.3em;
    margin: 10px;
    padding: 15px 50px;
    
  }
  .banner-content a:hover{
    background-color: #fff;
    color: #880a0a;
  }
    

  .title_description {
    display: inline-block;
	  margin-top: 2rem;
    margin-bottom: 2rem;
	  text-decoration: none;
    border-bottom: 2px solid #361318;
    padding-bottom: 1rem;
    font-style: normal;
    font-size: calc(1em + 1vw);
    line-height: 15px;
    text-align: center;
    color: #361318;
  }
  .description {
    padding: 3rem;
  }
  p {
    text-align: justify;
  }
  .grid-image{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  @media (max-width: 1100px){
    .item-hide-small{
        display: none;
    }
  }
  #image {
    width:100%;
  }
