<ng-container
  *ngIf="showView; then showTable; else showForm">
</ng-container>

<ng-template #showTable>
  <table-view-simple
    [title]="'Listado de Proyectos'"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [data]="data"
    [loading]="loading"
    [totalSize]="totalSize"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (formCallEvent)="showFormItem($event)"
    (formDataCallEvent)="getDataItem($event)"
    (deleteCallEvent)="deleteItem($event)"
    (paginationEvent)="changePagination($event)"
  >
  </table-view-simple>
</ng-template>

<ng-template #showForm>
  <mat-toolbar>
    <span>{{modoEdit ? "Editar Proyecto" : "Agregar Proyecto"}}</span>
  </mat-toolbar>
  <form [formGroup]="form" autocomplete="off">
    <mat-form-field>
      <input
        required
        formControlName="title"
        matInput
        placeholder="Titulo"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        required
        formControlName="code"
        matInput
        placeholder="Código"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de proyecto</mat-label>
      <mat-select
        required
        formControlName="type_project"
      >
        <mat-option
          *ngFor="let typeP of listTypeProject"
          [value]="typeP.id"
        >
          {{typeP.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Rol desempeñado</mat-label>
      <mat-select
        required
        formControlName="type_role"
      >
        <mat-option
          *ngFor="let typeR of listTypeRole"
          [value]="typeR.id"
        >
          {{typeR.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea
        required
        formControlName="description"
        matInput
        placeholder="Breve descripción"
      >
      </textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha de inicio</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date_start"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha de finalización (puede ser estimada)</mat-label>
      <input
        matInput
        [matDatepicker]="pickere"
        formControlName="date_end"
      >
      <mat-datepicker-toggle matSuffix [for]="pickere"></mat-datepicker-toggle>
      <mat-datepicker #pickere></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        required
        formControlName="reference_url"
        matInput
        placeholder="Enlace de referencia"
      />
    </mat-form-field>
    <div class="actions" fxLayout="row">
      <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="15px"
      >
        <button
          (click)="cancel()"
          mat-stroked-button
          color="primary"
        >
          Cancelar
        </button>
        <button
          (click)="save()"
          mat-raised-button
          color="primary"
        >
         {{modoEdit ? "Confirmar cambios"  : "Crear reconocimiento"}}
        </button>
      </div>
    </div>
  </form>
</ng-template>