<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{ dataGenerate ? "Editar Experiencia Laboral" : "Agregar Experiencia Laboral" }}</span>
    </mat-toolbar>
  </div>
  <div class="detail-jobs">
    <form [formGroup]="workExperienceForm" class="wrap-form" autocomplete="off">
      <input type="hidden" formControlName="id" />
      <div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="legacy">
            <mat-select
              placeholder="Instituciones/Empresas"
              formControlName="institution"
            >
              <mat-option *ngFor="let item of listInstitution" [value]="item.id">{{ item.company_name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="legacy">
            <input
              formControlName="charge"
              matInput
              placeholder="Cargo"
            />
          </mat-form-field>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field fxFlex appearance="legacy">
            <mat-label>Fecha de Inicio</mat-label>
            <input
              matInput
              formControlName="date_start"
              autocomplete="off"
              type="date"
              placeholder="Fecha de Inicio"
            />
            <mat-error>Este campo es obligatorio.</mat-error>
          </mat-form-field>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field fxFlex appearance="legacy">
            <mat-label>Fecha de Finalización</mat-label>
            <input
              matInput
              formControlName="date_end"
              autocomplete="off"
              type="date"
              placeholder="Fecha de Finalización"
            />
            <mat-error>Este campo es obligatorio.</mat-error>
          </mat-form-field>
        </div>
        <div class="actions" fxLayout="row">
          <div
            fxFlex
            fxLayout="row"
            fxLayoutAlign="end center"
            fxLayoutGap="15px"
          >
            <button (click)="cancelButton()" mat-stroked-button color="primary">
              Cancelar
            </button>
            <button (click)="save()" mat-raised-button color="primary">
              {{ dataGenerate ? "Confirmar cambios" : "Guardar Experiencia laboral" }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
