<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: 25px">Listado de Publicaciones</span>

      <button
        mat-raised-button
        class="demo-button"
        color="primary"
        (click)="addClick()"
      >
        Nuevo
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
    <!--- Note that these columns can be defined in any order.
           The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column
     <ng-container matColumnDef="nro">
       <th mat-header-cell *matHeaderCellDef> No. </th>
       <td mat-cell *matCellDef="let element"> 1 </td>
     </ng-container>-->

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      <!--{{ element.is_active }}-->
    </ng-container>
    <ng-container matColumnDef="type_publication">
      <th mat-header-cell *matHeaderCellDef>Tipo de publicación</th>
      <td mat-cell *matCellDef="let element">{{ element.type_publication.name }}</td>
      <!--{{ element.is_active }}-->
    </ng-container>
    <ng-container matColumnDef="function_type">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element">{{ element.function_type.name }}</td>
      <!--{{ element.is_active }}-->
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let element">
        <a class="pointer" style="color: #335b74" matTooltip="Editar Publicación">
          <mat-icon style="cursor: pointer" (click)="edit(element)">
            edit
          </mat-icon>
          <ng-template #noCan>-</ng-template>
        </a>
        <a class="pointer" style="color: #335b74" matTooltip="Borrar Publicación">
          <mat-icon style="cursor: pointer" (click)="delete(element)">
            delete
          </mat-icon>
          <ng-template #noCan>-</ng-template>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
