{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: white;
        }
        * {
            color: black;
        }
    </style>
</head>
<body>
Estimados Usuario:
<br>
Su solicitud no ha sido aprobada, sirvase a ingresar al sistema de la Oficina de Seguimiento de Egresados para volver a registrarse.

<br>
Atentamente,
<br>
<img width="500px" src="https://ci5.googleusercontent.com/proxy/ijEE_0kRGOIBUHWrGj0lPkJgSoLVvIswbLBHb6Ost1deZWaH3dLFGqPbPixhXPxMdaNTxtv-Ndjwtpjx-siYdsNvVv4g83mDfGAyv9cq6GhR2CAGL6s67oK9UxZgCm5wHO8t=s0-d-e1-ft#https://drive.google.com/uc?id=1QkVNiPh_fducjvzA_QGw-ay-beP7XX0N&export=download" alt="Oficina de Seguimiento de Egresados">

</body>
</html>