.container{

  width:98%;
}
.container-principal{
  margin:3%;
  width:95%;

}
form.normal-form{
  margin:10px;
}
.controles-container{
  width:100%;
}
.controles-container > * {
  width:100%;

}
.add-bottom-padding {
  width:100%;
  margin-top: 3%;
  margin-bottom:3%;

}
.button-row button{
  margin:10%;
}
