<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{ rol ? "Editar Rol" : "Agregar Rol" }}</span>
    </mat-toolbar>
  </div>
  <form [formGroup]="rolesForm" class="normal-form">
    <div class="controles-container">
      <input type="hidden" formControlName="id" />
      <div fxLayout="row" fxLayoutGap="48px" style="margin-bottom: 25px">
        <mat-form-field appearance="legacy" style="width: 48%">
          <input formControlName="name" matInput placeholder="Nombre" />
          <mat-error>Este campo es obligatorio..</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="legacy" style="width: 45%">
          <mat-label>Perfil</mat-label>
          <mat-select
            formControlName="profile_type"
          >
            <mat-option
              *ngFor="let profile of profiles"
              [value]="profile.id"
              required
            >
              {{ profile.model_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <dual-list
        [source]="source"
        [key]="'id'"
        [display]="'name'"
        [(destination)]="confirmed"
        [format]="format"
      ></dual-list>
<!--
      <div class="add-bottom-padding">
        <mat-checkbox formControlName="state">Habilitado</mat-checkbox>
      </div>
      -->
      <div class="button-row">
        <button
          *ngIf="
            rolesForm.value.id &&
            authUserService.checkPermissions('delete_usergroup')
          "
          (click)="removeAction()"
          mat-stroked-button
          color="warn"
        >
          Eliminar
        </button>
        <button (click)="save()" mat-raised-button color="primary">
          {{ rol ? "Confirmar cambios" : "Crear Rol" }}
        </button>
        <button (click)="cancel()" mat-stroked-button color="primary">
          Atrás
        </button>
      </div>
    </div>
  </form>
</div>
