<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Soy un cuerpo de correo de <b>prueba</b>
<br>
<b>Datos enviados</b> {{ data }}
</body>
</html>