<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: xx-large">Convocatorias de mi interés</span>
    </div>
    <!-- <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. user"
        #input
        autocomplete="off"
      />
    </mat-form-field> -->
    <!--div class="habilSyle">
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar usuarios habilitados o deshabilitados</mat-label>
        <mat-select (selectionChange)="onSelect($event.value)">
          <mat-option *ngFor="let habilit of habilitado" [value]="habilit.id">
            {{ habilit.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div-->
  </div>
  <div class="table">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Convocatoria</th>
        <td mat-cell *matCellDef="let element">
          {{ element.announcement.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
        <td mat-cell *matCellDef="let element">
          {{ element.announcement.date_start | date: "dd/MM/YYYY h:mm" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
        <td mat-cell *matCellDef="let element">
          {{ element.announcement.date_end | date: "dd/MM/YYYY h:mm" }}
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="validated">
        <th mat-header-cell *matHeaderCellDef>Validado</th>
        <td mat-cell *matCellDef="let element">
          {{ element.announcement.is_validated ? "Si" : "No" }}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
          <a
            class="pointer"
            style="color: #335b74; margin-right: 4%;"
            matTooltip="Ver Convocatoria"
          >
            <mat-icon
              style="cursor: pointer"
              (click)="openDialog(element.announcement)"
            >
              visibility
            </mat-icon>
            <ng-template #noCan>-</ng-template>
          </a>
          <a
            class="pointer"
            style="color: #590219"
            matTooltip="Retirar mi postulación"
          >
            <mat-icon
              style="cursor: pointer"
              (click)="delete(element.id)"
              *ngIf="
                authUserService.checkPermissions('delete_userpostulant');
                else noCan
              "
            >
              delete
            </mat-icon>
            <ng-template #noCan>-</ng-template>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      showFirstLastButtons
      [length]="totalSize"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="currentPage"
      (page)="handlePage($event)"
    >
    </mat-paginator>
  </div>
</div>
