
.container{
   width:98%;
}
.container-principal{
   margin:3%;
   width:95%;
}
form.normal-form{
  width: 100%;
}
.controles-container{
   width:100%;
   padding:5%;
}
.controles-container > * {
   width:100%;

}
.add-bottom-padding {
   width:100%;
   margin-bottom:5%;

}
.button-row button{
   margin:10%;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}
.checkbox-padding {
  margin-left: 30px;
}
