<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{ user ? "Editar Usuario" : "Agregar Usuario" }}</span>
    </mat-toolbar>
    <button
      (click)="cancel()"
      mat-stroked-button
      color="primary"
      style="margin-top:1rem; margin-bottom:1rem;"
    >
      Cancelar
    </button>
  </div>
  <mat-stepper orientation="vertical" [linear]="!exist_kind_profile" #stepper>
    <mat-step [stepControl]="usersForm" label="Datos del usuario">
      <form [formGroup]="usersForm" class="normal-form">
        <mat-grid-list cols="2" rowHeight="300px">
          <mat-grid-tile>
            <div class="controles-container">
              <input type="hidden" formControlName="id" />
              <mat-form-field appearance="legacy">
                <input
                  formControlName="first_name"
                  matInput
                  placeholder="Nombre"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  formControlName="last_name"
                  matInput
                  placeholder="Apellido"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  formControlName="username"
                  autocomplete ="new-password"
                  matInput
                  placeholder="Usuario"
                  required
                />
              </mat-form-field>
              <mat-form-field *ngIf="!user&&!modoEdit">
                <input
                  formControlName="password"
                  matInput
                  autocomplete ="new-password"
                  placeholder="Contraseña"
                  type="password"
                  [required]="!modoEdit"
                />
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
              <mat-form-field>
                <input
                  formControlName="email"
                  matInput
                  type="email"
                  placeholder="Email"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-select
                  [disabled]="exist_kind_profile"
                  placeholder="Roles"
                  formControlName="groups"
                >
                  <mat-option
                    *ngFor="let groups of listRoles"
                    (click)="changeRol(groups)"
                    [value]="groups"
                    required
                  >
                    {{ groups.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="add-bottom-padding">
                <mat-checkbox formControlName="is_active">Habilitado</mat-checkbox>
              </div>
              <div
                class="add-bottom-padding"
                *ngIf="show_check"
              >
                <mat-checkbox (click)="updateStatus()">
                  ¿Desea crear un perfil?
                </mat-checkbox>
              </div>
              <button
                (click)="saveUser(false)"
                color="primary"
                mat-raised-button
              >
                Siguiente
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-step>
    <mat-step
      *ngIf="create_profile || exist_kind_profile"
      [stepControl]="secondFormGroup"
      label="Datos del perfil"
    >
      <div *ngIf="model_kind_profile === 'superadminprofile'">
        <profile-superadmin
          #orderProposals
          [userItem]="user"
          (profileReady)="profileReady($event)">
        </profile-superadmin>
      </div>
      <div *ngIf="model_kind_profile === 'companyprofile'">
        <profile-company
          #orderProposals
          (profileReady)="profileReady($event)"
          [userItem]="user">
        </profile-company>
      </div>
      <div *ngIf="model_kind_profile === 'adminprofile'">
        <profile-admin
          #orderProposals
          [userItem]="user"
          (profileReady)="profileReady($event)"
        >
        </profile-admin>
      </div>
      <div *ngIf="model_kind_profile === 'graduateprofile'">
        <profile-graduate
          #orderProposals
          [userItem]="user"
          (profileReady)="profileReady($event)"
        >
        </profile-graduate>
      </div>
    </mat-step>
    <mat-step *ngIf="model_kind_profile === 'graduateprofile'&& exist_kind_profile && id_profile">
      <ng-template matStepLabel>Datos Académicos</ng-template>
      <app-graduate-academics [auth]="false" [graduateProfilePk]="id_profile">
      </app-graduate-academics>
    </mat-step>
    <mat-step *ngIf="model_kind_profile === 'graduateprofile'&& exist_kind_profile && id_profile">
      <ng-template matStepLabel>Experiencia Laboral</ng-template>
      <app-graduate-work-experience
        [auth]="false"
        [graduateProfilePk]="id_profile"
      ></app-graduate-work-experience>
    </mat-step>
    <mat-step *ngIf="model_kind_profile === 'graduateprofile'&& exist_kind_profile && id_profile">
      <ng-template matStepLabel>Idiomas</ng-template>
      <app-graduate-language
        [auth]="false"
        [graduateProfilePk]="id_profile"
      ></app-graduate-language>
    </mat-step>
    <mat-step *ngIf="model_kind_profile === 'graduateprofile'&& exist_kind_profile && id_profile">
      <ng-template matStepLabel>Proyectos</ng-template>
      <app-graduate-projects [auth]="false" [graduateProfilePk]="id_profile">
      </app-graduate-projects>
    </mat-step>
    <mat-step *ngIf="model_kind_profile === 'graduateprofile'&& exist_kind_profile && id_profile">
      <ng-template matStepLabel>Publicaciones</ng-template>
      <app-graduate-publications [auth]="false" [graduateProfilePk]="id_profile"></app-graduate-publications>
    </mat-step>
    <mat-step *ngIf="model_kind_profile === 'graduateprofile'&& exist_kind_profile && id_profile">
      <ng-template matStepLabel>Reconocimientos</ng-template>
      <app-graduate-distinctions
        [auth]="false"
        [graduateProfilePk]="id_profile"
      >
      </app-graduate-distinctions>
    </mat-step>
    <mat-step *ngIf="model_kind_profile === 'graduateprofile'&& exist_kind_profile && id_profile">
      <ng-template matStepLabel>Logros Académicos</ng-template>
      <app-graduate-achievements
        [auth]="false"
        [graduateProfilePk]="id_profile"
      >
      </app-graduate-achievements>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terminar</ng-template>
      <br>
      <br>
      <p>
      {{
        modoEdit ? "Recomendamos que revise y verifique la informacion antes de terminar la edición" :
        "Recomendamos que revise y verifique la informacion registrada antes de terminar el registro"
      }}
      </p>
      <br>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button (click)="saveUser(true)">Terminar</button>
      </div>
    </mat-step>
  </mat-stepper>
    <!--mat-tab-group *ngIf="model_kind_profile === 'graduateprofile' && exist_kind_profile">
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group-->
</div>
