<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{ company ? "Editar Empresa" : "Agregar Empresa" }}</span>
    </mat-toolbar>
  </div>
  <div class="detail-area">
    <form [formGroup]="companyForm" class="wrap-form" autocomplete="off">
      <div>
        <input type="hidden" formControlName="id" />
        <div class="fline" fxLayout="row">
          <mat-form-field fxFlex appearance="legacy">
            <input
              formControlName="company_name"
              matInput
              placeholder="Nombre"
            />
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="fline" fxLayout="row">
          <mat-form-field fxFlex appearance="legacy">
            <input
              formControlName="social_reason"
              matInput
              placeholder="Razón Social"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="fline" fxLayout="row">
        <mat-form-field appearance="fill" fxFlex>
          <mat-select
            placeholder="Identificadores"
            formControlName="identificator"
            [compareWith]="compareSelectedValue"
          >
            <ng-container *ngFor="let item of listIdentifiers">
              <mat-option [value]="item.id">{{ item.code }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <div class="fline" fxFlex fxLayout="column">
          <mat-form-field fxFlex appearance="legacy">
            <input
              formControlName="ruc"
              matInput
              placeholder="Número de documento"
            />
          </mat-form-field>
          <div
            *ngIf="
              companyForm.get('ruc').invalid && companyForm.get('ruc').touched
            "
          >
            <p *ngIf="companyForm.get('ruc').errors.required">
              Número de documento requerido
            </p>
            <p *ngIf="companyForm.get('ruc').errors.pattern">
              Ingrese solo números
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="fline" fxLayout="row">
          <mat-form-field appearance="legacy" fxFlex>
            <input
              formControlName="company_activity"
              matInput
              placeholder="Rubro de la Empresa"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="fline" fxLayout="row" fxflex fxLayoutGap="40px">
        <label for="logo">Logo</label>
        <a
          *ngIf="showBeforeImage"
          href="{{ company.logo }}"
          target="_blank"
          style="color: black"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="View Before Imagen"
            matTooltip="Ver Imagen Anterior"
          >
            image
          </mat-icon>
        </a>
        <input
          id="logo"
          type="file"
          accept="image/png, image/jpg, image/jpeg"
          (change)="onFileChange($event)"
        />
      </div>
      <!--div class="fline" fxLayout="row" fxflex>
        <mat-checkbox formControlName="is_active">Habilitado</mat-checkbox>
      </div-->

      <div class="actions" fxLayout="row">
        <div fxLayout="row" *ngIf="companyForm.value.id">
          <button
            *ngIf="companyForm.value.id"
            (click)="removeAction()"
            mat-button
            color="warn"
          >
            Eliminar
          </button>
        </div>
        <div
          fxFlex
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="15px"
        >
          <button (click)="cancel()" mat-stroked-button color="primary">
            Cancelar
          </button>
          <button (click)="save()" mat-raised-button color="primary">
            {{ company ? "Confirmar cambios" : "Crear Empresa" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
