:host {
  width: 100%;
  height: 100%;
  .detail-area {
    margin: 3%;
    background-color: #f9f9f9;
    height: 100%;
    width: 90%;
    .wrap-form {
      .fline {
        margin-bottom: 12px;
      }
      ckeditor {
        border: 1px solid #e0e0e0;
        border-radius: 6px;
      }
    }
    .actions {
      padding: 9px;
    }
    .fline {
      margin-bottom: 10px;
    }

    .fline p {
      color: red;
      font-size: 11px;
    }
    .fline span {
      font-size: 13px;
      margin-bottom: 4px;
      display: inline-block;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
}
