<ng-container
  *ngIf="showView; then showTable; else showForm">
</ng-container>

<ng-template #showTable>
  <table-view-simple
    [title]="'Listado de Logros Académicos'"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [data]="data"
    [loading]="loading"
    [totalSize]="totalSize"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (formCallEvent)="showFormItem($event)"
    (formDataCallEvent)="getDataItem($event)"
    (deleteCallEvent)="deleteItem($event)"
    (paginationEvent)="changePagination($event)"
  >
  </table-view-simple>
</ng-template>

<ng-template #showForm>
  <mat-toolbar>
    <span>{{modoEdit ? "Editar Logro Académico" : "Agregar Logro Académico"}}</span>
  </mat-toolbar>
  <form [formGroup]="form" autocomplete="off">
    <mat-form-field>
      <input
        required
        formControlName="title"
        matInput
        placeholder="Título"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Grado</mat-label>
      <mat-select
        required
        formControlName="grade"
      >
        <mat-option
          *ngFor="let grade of grades"
          [value]="grade.id"
        >
          {{grade.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>País</mat-label>
      <mat-select
        required
        formControlName="country"
      >
        <mat-option
          *ngFor="let country of countries"
          [value]="country.code"
        >
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="actions" fxLayout="row">
      <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="15px"
      >
        <button
          (click)="cancel()"
          mat-stroked-button
          color="primary"
        >
          Cancelar
        </button>
        <button
          (click)="save()"
          mat-raised-button
          color="primary"
        >
         {{modoEdit ? "Confirmar cambios"  : "Crear reconocimiento"}}
        </button>
      </div>
    </div>
  </form>
</ng-template>