<div mat-dialog-title> MANUALES DE USUARIO</div>
<div mat-dialog-content>
  <div class="content">
    <h1>{{data.name}}</h1>
    <div class="content_detail">
      <h3 [innerHTML]="data.description"> </h3>
      <div class="detail_list" *ngIf="data.link!==''">
        <img src="../../../../assets/images/youtube.png">
        <span><a class="info" href="{{data.link}}" target="_blank">{{data.name}}</a></span>
      </div>
      <div class="detail_list" *ngIf="data.file!==''">
        <img src="../../../../assets/images/pdf.png">
        <span><a class="info" href="{{data.file}}" target="_blank">{{data.name}}</a></span>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClickNo()">Close</button>
</div>
