.content {
  text-align: center;
}
.content > h1 {
  margin-top: 20px;
  color: #5F071C;
  font-size: 30px;
  font-weight: 500;
}
.content > img {
  //width: 90%;
  height: 40%;
  align-content: center;
  border-radius: 30px;
}
.content_detail {
  text-align: left;
}
.content_detail > h3 {
  color: #697477;
  font-weight: normal;
  font-size: 22px;
}
.detail_list {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 20px;
}
.detail_list > img {
  width: 30px;
  margin-right: 10px;
}
.detail_list > mat-icon,span {
  color: #697477;
  padding-top: 4px;
  padding-right: 5px;
}
.info {
  cursor:pointer;
  padding-top: 2%;
  //padding: 1% 2%;
  vertical-align: middle;
  float: left;
  font-size: 20px;
  font-weight: 400;
  color: #590219;
  text-decoration:none;
  max-height: 100%;
}
.info:hover {
  cursor:pointer;
  padding-top: 2%;
  //padding: 1% 2%;
  vertical-align: middle;
  float: left;
  font-size: 20px;
  font-weight: 400;
  color: #5E1C2F;
  text-decoration:none;
  max-height: 100%;
}
.info:visited {
  cursor:pointer;
  padding-top: 2%;
  vertical-align: middle;
  float: left;
  font-size: 20px;
  font-weight: 400;
  color: #FF7081;
  max-height: 100%;
}
