<div fxLayout="column">
   <div>
      <h2 mat-dialog-title fxFlex>
         <mat-icon style="vertical-align: middle; margin-bottom: 4px">
            settings
         </mat-icon>
         Listado de Postulantes a la Convocatoria
      </h2>
      <button [mat-dialog-close]="" class="close-dialog"
      (click)="close()">
         <mat-icon style="vertical-align: middle; margin-bottom: 4px">
            close
         </mat-icon>
      </button>
   </div>
   <mat-dialog-content fxLayout="column">
     <div fxFlex fxLayoutAlign="end center">
     </div>
   </mat-dialog-content>
   <mat-dialog-actions fxLayout="row" style="padding: 12px 0;">
     <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
       <!-- Name Column -->
       <ng-container matColumnDef="user.first_name">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres de Usuario</th>
         <td mat-cell *matCellDef="let element">{{ element.user.first_name }}</td>
       </ng-container>
       <ng-container matColumnDef="user.last_name">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos de Usuario</th>
         <td mat-cell *matCellDef="let element">{{ element.user.last_name }}</td>
       </ng-container>
       <ng-container matColumnDef="user.profile.cell_phone">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Celular</th>
         <td mat-cell *matCellDef="let element">{{ element.user.profile.cell_phone }}</td>
       </ng-container>
       <ng-container matColumnDef="user.profile.document">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>N°de Documento</th>
         <td mat-cell *matCellDef="let element">{{ element.user.profile.document }}</td>
       </ng-container>
       <ng-container matColumnDef="user.profile.email">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo Electrónico</th>
         <td mat-cell *matCellDef="let element">{{ element.user.email }}</td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

     </table>
     <mat-paginator
       [pageSizeOptions]="[5, 10, 20]"
       showFirstLastButtons
     ></mat-paginator>
     <div fxFlex fxLayoutAlign="end center">
     </div>
   </mat-dialog-actions>
</div>
