<div class="content">
  <div class = title>
    <h1> Manuales de Usuario</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let act of displayManuals">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <template></template>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="../../../assets/images/manual.png">
            <div class="contenido">
              <h1>{{act.name}}</h1>
            </div>
            <div class="actions">
              <button class="enroll" (click)="openDialog(act)">Abrir</button>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
