.title {
  text-align: center;
  padding: 20px;
}
.title > h1 {
  font-size: 5vh;
  color: #5F071C;
}
.content{
  padding: 30px;

}
.mat-card {
  border-radius: 20px;
  max-height: 100%;
  min-height: 100%;
}
.mat-card > mat-card-content {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  max-height: 40%;
  min-height: 40%;
}
.mat-card > mat-card-content > .contenido {
  margin-bottom: max(8px, 2%);
}

.mat-card > mat-card-content > .contenido > h1 {
  font-size: 3vh;
  color: #5F071C;
  font-weight: 500;
  max-font-size: 100%;
  padding-top: max(1px, 2%);
  padding-bottom: max(1px, 2%);
}
.mat-card > mat-card-content > .contenido > p {
  font-size: 2vh;
  max-font-size: 100%;
  padding-top: max(1px, 2%);
  padding-bottom: max(1px, 2%);
}
.mat-card > mat-card-content > img {
  margin-top: 20px;
  border-radius: 10px;
  width: 20%;
}
.actions {
  vertical-align: bottom;
  overflow: hidden;
  padding-top: max(15px, 5%);
  padding-bottom: max(15px, 5%);

}
.enroll{
  float: right;
  color: #ffffff;
  border: none;
  background-color: #590219;
  border-radius: 20px;
  font-size: 14px;
  padding: 2% 5%;
  margin-right: 2px;
  margin-left: 30px;
  max-height: 100%;
  min-height: 100%;

}
.enroll:hover {
  background-color: #b53c60;
  cursor:pointer;
}
.info {
  cursor:pointer;
  padding-top: 2%;
  //padding: 1% 2%;
  vertical-align: middle;
  float: left;
  font-size: 16px;
  font-weight: 600;
  color: #590219;
  text-decoration:none;
  max-height: 100%;
}



