<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{ dataGenerate ? "Editar Idioma" : "Agregar Idioma" }}</span>
    </mat-toolbar>
  </div>
  <div class="detail-jobs">
    <form [formGroup]="languageForm" class="wrap-form" autocomplete="off">
      <div>
        <div class="language" fxLayout="row" *ngIf="editLanguage">
          <mat-label>Nombre de idioma : </mat-label>
          <mat-label>{{ language }}</mat-label>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="fill" *ngIf="!editLanguage">
            <mat-label>Seleccionar Lenguaje</mat-label>
            <mat-select
              placeholder="Seleccionar Lenguaje"
              (selectionChange)="onSelectLanguage($event.value)"
              formControlName="language"
            >
              <mat-option
                *ngFor="let listLangua of listLanguages"
                [value]="listLangua"
              >
                {{ listLangua.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="fill">
            <mat-label>Seleccionar Nivel</mat-label>
            <mat-select
              placeholder="Seleccionar Lenguaje"
              (selectionChange)="onSelectLevel($event.value)"
              formControlName="level_type"
            >
              <mat-option *ngFor="let level of level_type" [value]="level.id">
                {{ level.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actions" fxLayout="row">
          <div
            fxFlex
            fxLayout="row"
            fxLayoutAlign="end center"
            fxLayoutGap="15px"
          >
            <button (click)="cancelButton()" mat-stroked-button color="primary">
              Cancelar
            </button>
            <button (click)="save()" mat-raised-button color="primary">
              {{ dataGenerate ? "Confirmar cambios" : "Guardar Idioma" }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
