:host {
  width: 100%;
  height: 100%;
  .detail-jobs {
    margin: 2%;
    background-color: #f9f9f9;
    height: 100%;
    //  width: 100%;
    margin-right: 6%;
    .wrap-form {
      .fline {
        margin-bottom: 12px;
      }
      .ckeditor {
        border: 1px solid #e0e0e0;
        border-radius: 6px;
      }
    }
    .habilSyle {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .form-field-label {
        white-space: nowrap;
      }
      .form-field-label + mat-form-field {
        margin-left: 10px;
      }
      mat-form-field {
        width: 100%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-right: 1.5%;
        margin-left: 1.5%;
      }
    }

    .language {
      mat-label {
        margin-left: 2%;
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 15px;
      }
    }
    .actions {
      padding: 9px;
    }
  }
}
.container {
  width: 96%;
}
.habilSyle {
  width: 96%;
}
