<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size:25px"> {{title}} </span>  
      <button
        mat-raised-button
        class="demo-button"
        color="primary"
        (click)="add()"
      >
        Nuevo
      </button>
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <table
    mat-table
    [dataSource]="data"
  >
    <ng-container
      *ngFor="let column of columns"
      [cdkColumnDef]="column.columnDef"
    >
      <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <span *ngIf="column.columnDef!=='link'&&column.columnDef!=='actions'">{{ column.cell(row) }}</span>
        <a
          style="color: #335b74"
          *ngIf="column.columnDef==='link'"
          target="_blank"
          [href]="column.cell(row)"
        >
          <mat-icon style="cursor: pointer" > open_in_new </mat-icon>
        </a>
        <a
          *ngIf="column.columnDef==='actions'"
          style="color: #335b74"
          matTooltip="Editar Registro"
        >
          <mat-icon
            style="cursor: pointer"
            (click)="edit(row)"
          >
            edit
          </mat-icon>
        </a>
        <a
          *ngIf="column.columnDef==='actions'"
          style="color: #335b74"
          matTooltip="Eliminar Registro"
        >
          <mat-icon
            style="cursor: pointer"
            (click)="delete(row)"
          >
            delete
          </mat-icon>
        </a>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <mat-paginator #paginator
    showFirstLastButtons
    [length]="totalSize"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="currentPage"
    (page)="handlePage($event)"
  >
  </mat-paginator>
</div>
  