<div fxFlex fxLayout="column" style="margin: 10px 0">
  <form [formGroup]="companyForm" class="normal-form" fxLayoutGap="30px">
    <div fxFlex fxLayout="column">
      <div class="controles-container" fxflex>
        <input type="hidden" formControlName="id" />
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <mat-select
              placeholder="Identificadores"
              formControlName="identificator"
              [compareWith]="compareSelectedValue"
            >
              <ng-container *ngFor="let item of listIdentifiers">
                <mat-option [value]="item.id">{{ item.code }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="legacy" style="width: 100%">
            <input
              formControlName="cell_phone"
              matInput
              placeholder="Teléfono Celular"
            />
          </mat-form-field>
        </div>
        <!--div class="add-bottom-padding" fxLayout="row" style="margin: 18px 0">
          <mat-checkbox formControlName="is_active">Enabled</mat-checkbox
          >
        </div-->
      </div>
    </div>
    <div fxFlex fxLayout="column">
      <div class="controles-container">
        <div fxLayout="row">
          <mat-form-field appearance="legacy" style="width: 100%">
            <input
              formControlName="document"
              matInput
              placeholder="Documento"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <mat-select
              placeholder="Empresa"
              formControlName="company"
              [compareWith]="compareSelectedValue"
            >
              <ng-container *ngFor="let item of companyList">
                <mat-option [value]="item">{{ item.company_name }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <button
          (click)="save()"
          color="primary"
          mat-raised-button
          style="margin: 10px 0; width: 100%"
        >
          Siguiente
        </button>
      </div>
    </div>
  </form>
</div>
