<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: xx-large">Listado de Grupos Objetivos Convocatorias</span>

      <button
        *ngIf="authUserService.checkPermissions('add_targetgroupannouncement')"
        mat-raised-button
        class="demo-button"
        color="primary"
        routerLink="./nuevo"
      >
        Nuevo
      </button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ejemplo: DNI, documento, carnet"
        #input
        autocomplete="off"
      />
    </mat-form-field>
    <!--div class="habilSyle">
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar roles habilitados o deshabilitados</mat-label>
        <mat-select (selectionChange)="onSelectState($event.value)">
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div-->
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div class="table">
    <table
      mat-table
      [dataSource]="dataSource"
      class="demo-table"
      matSort
      (matSortChange)="onChangeSort($event)"
    >
      <ng-container matColumnDef="text-invitation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Invitación</th>
        <td mat-cell *matCellDef="let element">{{ element.text_invitation}}</td>
      </ng-container>
      <ng-container matColumnDef="name-announcement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Convocatoria</th>
        <td mat-cell *matCellDef="let element">{{ element.announcement.name }}</td>
      </ng-container>
      <ng-container matColumnDef="instance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Instancia</th>
        <td mat-cell *matCellDef="let element">{{ element.instance }}</td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>Habilitado</th>
        <td mat-cell *matCellDef="let element">
          {{ element.is_active ? "Si" : "No" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
          <a class="pointer" style="color: #335b74" matTooltip="Editar Rol">
            <mat-icon
              (click)="edit(element)"
              *ngIf="
                authUserService.checkPermissions('change_targetgroupannouncement');
                else noCan
              "
              >edit</mat-icon
            >
            <ng-template #noCan>-</ng-template>
          </a>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Generado el</th>
      <td mat-cell *matCellDef="let element">
        {{ element.created | date: "dd/MM/YYYY h:mm a" }}
      </td>
    </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      showFirstLastButtons
      [length]="totalSize"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="currentPage"
      (page)="handlePage($event)"
    >
    </mat-paginator>
  </div>
</div>
