<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: 25px">Listado de Experiencia Laboral</span>

      <button
        mat-raised-button
        class="demo-button"
        color="primary"
        (click)="addClick()"
      >
        Nuevo
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
    <!--- Note that these columns can be defined in any order.
           The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column
     <ng-container matColumnDef="nro">
       <th mat-header-cell *matHeaderCellDef> No. </th>
       <td mat-cell *matCellDef="let element"> 1 </td>
     </ng-container>-->

    <!-- Name Column -->
    <ng-container matColumnDef="charge">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</th>
      <td mat-cell *matCellDef="let element">{{ element.charge }}</td>
    </ng-container>


    <ng-container matColumnDef="date_start">
      <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
      <td mat-cell *matCellDef="let element">{{ element.date_start }}</td>
      <!--{{ element.is_active }}-->
    </ng-container>
    <ng-container matColumnDef="date_end">
      <th mat-header-cell *matHeaderCellDef>Fecha de Finalización</th>
      <td mat-cell *matCellDef="let element">{{ element.date_end }}</td>
      <!--{{ element.is_active }}-->
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let element">
        <a class="pointer" style="color: #335b74" matTooltip="Editar Idioma">
          <mat-icon style="cursor: pointer" (click)="edit(element)">
            edit
          </mat-icon>
          <ng-template #noCan>-</ng-template>
        </a>
        <a class="pointer" style="color: #335b74" matTooltip="Borrar Idioma">
          <mat-icon style="cursor: pointer" (click)="delete(element)">
            delete
          </mat-icon>
          <ng-template #noCan>-</ng-template>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
