<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: xx-large">Configuración de página y redes sociales</span>
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div class="detail-area">
    <form [formGroup]="configForm" class="wrap-form" autocomplete="off">
      <input type="hidden" formControlName="id" />
      <div class="fline" fxLayout="row">
        <mat-form-field fxFlex appearance="legacy" style="margin-right: 1rem;" >
          <input formControlName="link_facebook" matInput placeholder="Facebook" type="url"/>
        </mat-form-field>
        <mat-form-field fxFlex appearance="legacy">
          <input formControlName="link_twitter" matInput placeholder="Twitter" type="url" />
        </mat-form-field>
      </div>
      <div class="fline" fxLayout="row">
        <mat-form-field fxFlex appearance="legacy" style="margin-right: 1rem;" >
          <input formControlName="link_youtube" matInput placeholder="Youtube" type="url"/>
        </mat-form-field>
        <mat-form-field fxFlex appearance="legacy">
          <input formControlName="link_linkedin" matInput placeholder="Linkedin" type="url" />
        </mat-form-field>
      </div>
      <div class="fline" fxLayout="row">
        <mat-form-field fxFlex appearance="legacy" style="margin-right: 1rem;" >
          <input formControlName="link_instagram" matInput placeholder="Instagram" type="url"/>
        </mat-form-field>
        <mat-form-field fxFlex appearance="legacy">
          <input formControlName="link_other" matInput placeholder="Otra red social" type="url" />
        </mat-form-field>
      </div>
      <span>Texto principal de la página</span>
      <div class="ck-form-control-wrap fline" style="margin-top: 1rem; margin-bottom: 1rem">
        <ckeditor
          [config]="editorConfig"
          [editor]="editor"
          formControlName="principal_text">
        </ckeditor>
      </div>
      <span>Texto de anuncio principal</span>
      <div class="ck-form-control-wrap fline" style="margin-top: 1rem; margin-bottom: 1rem">
        <ckeditor
          [config]="editorConfig"
          [editor]="editor"
          formControlName="principal_announcement">
        </ckeditor>
      </div>
      <div style="margin-top: 1rem; margin-bottom: 1rem">
        <div fxFlex></div>
        <button mat-raised-button [disabled]="loading" (click)="getData()" style="margin-right: 1rem">CANCELAR</button>
        <button mat-raised-button [disabled]="loading" color="primary" (click)="update()">GUARDAR CONFIGURACIÓN</button>
      </div>
    </form>
  </div>
</div>
