<div fxFlex fxLayout="column" style="margin: 10px 0">
  <form [formGroup]="profileForm" class="normal-form" fxLayoutGap="50px">
    <div fxFlex fxLayout="column">
      <div class="controles-container" fxflex>
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <mat-select
              placeholder="Identificadores"
              formControlName="identificator"
              [compareWith]="compareSelectedValue"
            >
              <ng-container *ngFor="let item of identifierList">
                <mat-option [value]="item">{{ item.code }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <input
              formControlName="document"
              matInput
              placeholder="N° de Documento"
            />
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <input
              matInput
              formControlName="address"
              placeholder="Dirección"

            />
          </mat-form-field>
        </div>
        <mat-form-field style="width: 100%">
          <input formControlName="cui" matInput placeholder="CUI" />
        </mat-form-field>

        <mat-form-field style="width: 100%">
          <input
            type="date"
            formControlName="date_birthday"
            matInput
            placeholder="Fecha de Nacimiento"
          />
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input formControlName="email" matInput placeholder="Correo alternativo" />
        </mat-form-field>

        <!--div fxLayout="row">
          <mat-form-field style="width: 100%">
            <mat-select
              placeholder="Compañia"
              formControlName="company"
              [compareWith]="compareSelectedValue"
            >
              <ng-container *ngFor="let item of companyList">
                <mat-option [value]="item">{{ item.company_name }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div-->
      </div>
    </div>
    <div fxFlex fxLayout="column">
      <div class="controles-container">
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <input
              formControlName="cell_phone"
              matInput
              placeholder="Celular"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <input
              formControlName="phone"
              matInput
              placeholder="Teléfono Fijo"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <input
              formControlName="web"
              matInput
              placeholder="Web"
              autocomplete="off"
              type="search"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <mat-select
              formControlName="gender"
              placeholder="Género"
              [compareWith]="compareSelectedValue"
            >
              <mat-option *ngFor="let item of genderList" [value]="item">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayour="row">
          <mat-label style="margin-top: 10%;margin-bottom: 10%;">Egresado con Discapacidad:
            <mat-radio-group aria-label="Select an option"  (change)="radioButton($event)" >
              <mat-radio-button class="example-radio-button" *ngFor="let list of dcpList" [value]="list.id" style="margin-right: 3%;margin-left:3%;" [checked]="list.checked">
                {{list.name}}
              </mat-radio-button>
            </mat-radio-group>
        </mat-label>
        <mat-form-field >
          <mat-label>Descripcion</mat-label>
          <input

            matInput
            formControlName="description_dcp"
            placeholder="Ex. Discapacidad"

          />
        </mat-form-field>
        </div>

        <!--div
          class="fline"
          fxLayout="row"
          fxflex
          fxLayoutGap="40px"
          style="margin: 18px 0"
        >
          <label for="picture">Imagen</label>
          <a
            *ngIf="showBeforeImage"
            href="{{ profile.picture }}"
            target="_blank"
            style="color: black"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="View Before Imagen"
              matTooltip="Ver Imagen Anterior"
            >
              image
            </mat-icon>
          </a>
          <input id="picture" type="file" (change)="onFileChange($event)" />
        </div-->

        <!--div class="add-bottom-padding" fxLayout="row" style="margin: 18px 0">
          <mat-checkbox formControlName="is_active">Enabled</mat-checkbox>
        </div-->
        <button
          (click)="save()"
          color="primary"
          mat-raised-button
          style="margin: 10px 0; width: 100%"
        >
          Siguiente
        </button>
      </div>
    </div>
  </form>
</div>
