:host {
  width: 100%;
  height: 100%;
  .detail-activity {
    margin: 3%;
    height: 100%;
    width: 90%;
    .wrap-form {
      .fline {
        margin-bottom: 12px;
      }
      ckeditor {
        border: 1px solid #e0e0e0;
        border-radius: 6px;
      }
    }
    .actions {
      margin-top: 25px;
      padding-right: 9px;
    }
  }
}
.close-dialog {
  width: 40px;
  height: 40px;
  margin: 0px -5px;
  background: none;
  border: none;
  outline: none;

  &:hover {
    background: #fafafa;
    cursor: pointer;
    border-radius: 100%;
  }
}
