<div fxLayout="column">
  <div>
    <h2 mat-dialog-title fxFlex>
      <mat-icon style="vertical-align: middle; margin-bottom: 4px">
        settings
      </mat-icon>
      Añadir un Nuevo Grupo Objetivo Convocatoria
    </h2>
    <button [mat-dialog-close]="" class="close-dialog">
      <mat-icon style="vertical-align: middle; margin-bottom: 4px">
        close
      </mat-icon>
    </button>
  </div>
  <mat-dialog-content fxLayout="column">
    <div class="container-principal">
      <div class="container">
        <div class="detail-activity">
          <form [formGroup]="objectiveForm" class="wrap-form" autocomplete="off">
            <div>
              <div class="fline" fxLayout="row">
                <mat-form-field fxFlex appearance="legacy">
                  <mat-select placeholder="Tipo de instancia">
                    <mat-option
                      *ngFor="let kind of listKindInstance"
                      [value]="kind"
                      (click)="changeInstance(kind)"
                      required
                    >
                      {{ kind.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="fline" fxLayout="row">
                <mat-form-field fxFlex appearance="legacy">
                  <mat-select placeholder="Instancia Universitaria" formControlName="instance">
                    <mat-option
                      *ngFor="let kind of listSelectInstance"
                      [value]="kind"
                      required
                    >
                      {{ kind.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="ck-form-control-wrap fline">
                <mat-label>Texto de Invitación</mat-label>
                <ckeditor
                  [config]="editorConfig"
                  [editor]="editor"
                  formControlName="text_invitation"
                ></ckeditor>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" style="padding: 12px 0;">
      <div fxFlex fxLayoutAlign="end center">
        <button [mat-dialog-close]="aux_create" mat-stroked-button color="primary">
          Cancelar
        </button>
        <button
          (click)="create()"
          [mat-dialog-close]="aux_create"
          mat-raised-button
          color="primary"
        >
          Crear
        </button>
      </div>
  </mat-dialog-actions>
</div>

