<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>Editar mi usuario super administrador</span>
    </mat-toolbar>
  </div>
  <form [formGroup]="profileSelfForm" class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
            <mat-form-field appearance="legacy">
              <input formControlName="first_name" matInput placeholder="Nombre" />
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <input formControlName="last_name" matInput placeholder="Apellido" />
            </mat-form-field>
            <mat-form-field>
            <mat-select placeholder="Identificadores" (selectionChange)="onSelectIdent($event.value)"
              formControlName="identificator">
              <ng-container *ngFor="let item of listIdentifi">
                <mat-option [value]="item.id">{{ item.code }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <input formControlName="document" matInput placeholder="Documento" />
          </mat-form-field>
          <mat-form-field>
            <input formControlName="cell_phone" matInput placeholder="Celular" />
          </mat-form-field>
     
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>
            <input formControlName="phone" matInput placeholder="Teléfono" />
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Tipo de Empleado" (selectionChange)="onSelectEmpl($event.value)"
              formControlName="type_employee">
              <ng-container *ngFor="let item of listEmployees">
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
            <mat-form-field>
            <mat-select formControlName="job_position" placeholder="Puesto de Trabajo"
              (selectionChange)="onSelectJobs($event.value)">
              <ng-container *ngFor="let item of listJobs">
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <div class="picture">
            <mat-label>Cambiar foto</mat-label><br>
            <input type="file" (change)="onFileChangePicture($event)" />
          </div>
          <div class="button-row">
            <button (click)="save()" mat-raised-button color="primary">
              Confirmar Cambios
            </button>
            <button (click)="cancel()" mat-stroked-button color="primary">Atrás</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>