.content {
  text-align: center;
}
.content > h1 {
  margin-top: 20px;
  color: #5F071C;
  font-size: 30px;
  font-weight: 500;
}
.mat-dialog-content .content > img {
  //width: 90%;
  object-fit: cover;
  max-width: 60%;
  min-width: 60%;
  align-content: center;
  border-radius: 30px;
}
.content_detail {
  text-align: left;
}
.content_detail > h3 {
  color: #697477;
  font-weight: normal;
  font-size: 16px;
}
.detail_list {
  display: flex;
  align-items: center;
}
.detail_list > mat-icon,span {
  color: #697477;
  padding-top: 4px;
  padding-right: 5px;
}

.enroll{
  float: right;
  color: #ffffff;
  border: none;
  background-color: #590219;
  font-size: 14px;
  padding: 2% 5%;
  margin-right: 10px;
  margin-left: 30px;
  max-height: 100%;

}
.enroll:hover {
  background-color: #b53c60;
  cursor:pointer;
}
.imgContainer {
  text-align: center;
}
.imgContainer > img{
  text-align: center;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
