<div mat-dialog-title> EVENTOS UNSA</div>
<div mat-dialog-content>
  <div class="content">
    <div class="imgContainer">
      <img src="{{data.image}}">
    </div>
    <h1>{{data.title}}</h1>
    <div class="content_detail">
      <h3 [innerHTML]="data.description"></h3>
      <div class="detail_list">
        <mat-icon>person</mat-icon>
        <span>Elaborado por: {{data.owner.first_name}}  {{data.owner.last_name}}</span>
      </div>
      <div class="detail_list">
        <mat-icon>calendar_today</mat-icon>
        <span>Fecha de Inicio: {{data.start_date.substring(0,10)}}  {{data.start_date.substring(11,16)}}</span>
      </div>
      <div class="detail_list">
        <mat-icon>calendar_today</mat-icon>
        <span>Fecha de Finalización: {{data.end_date.substring(0,10)}}  {{data.end_date.substring(11,16)}}</span>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center" style="margin-top: 2%;">
  <button mat-button (click)="onClickNo()">Close</button>
  <button (click)="enroll()" *ngIf="authService.getToken() && data.can_register" class="enroll">Inscribirse</button>
</div>
