<div class="container-principal">
    <div class="container">
      <mat-toolbar>
        <span>{{suggestion ? "Editar Sugerencia" : "Agregar Sugerencia"}}</span>
      </mat-toolbar>
    </div>
    <div class="detail-area">
      <form [formGroup]="suggestionForm" class="wrap-form" autocomplete="off">
        <div>
          <input type="hidden" formControlName="id" />

          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input formControlName="text" matInput placeholder="Sugerencia" />
            </mat-form-field>
          </div>
          <div class="actions" fxLayout="row">
            <div fxLayout="row" *ngIf="suggestionForm.value.id">
              <button
                *ngIf="suggestionForm.value.id"
                (click)="removeAction()"
                mat-button
                color="warn"
              >
                Eliminar
              </button>
            </div>
            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="end center"
              fxLayoutGap="15px"
            >
              <button (click)="cancel()" mat-stroked-button color="primary">
                Cancelar
              </button>
              <button
                (click)="save()"
                mat-raised-button
                color="primary"
              >
                {{suggestion ? "Confirmar cambios"  : "Crear Sugerencia"}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
