<div *ngIf="valueList">
<list-graduate-language [auth]="auth" [graduateProfilePk]="graduateProfilePk" (send)="changeValue($event)" (data)="changeData($event)"></list-graduate-language>
</div>
<div *ngIf="valueForm" >
<form-graduate-language [auth]="auth" [graduateProfilePk]="graduateProfilePk" (cancel)="changeValueCancel($event)" [dataGenerate]="data" ></form-graduate-language>
</div>
