@import '~@angular/material/theming';
@import 'theme.scss';
@include mat-core();

$ose-primary: mat-palette($ose-default-palette, 800, A100);
$ose-accent: mat-palette($ose-accent-palette, 500, A100);
$ose-warn: mat-palette($ose-warn-palette, 400, A100);

$ose-theme: mat-light-theme(
   $ose-primary,
   $ose-accent,
   $ose-warn
);

@include angular-material-theme($ose-theme);
html,
body {
   height: 100%;
   background: #f3f8f9;
}
body {
   margin: 0;
   font-family: Roboto, 'Helvetica Neue', sans-serif;
}

section {
   display: flex;
   height: auto;
   width: 100%;
}

.pac-container {
   z-index: 9999999;
}

.pac-logo:after {
   display: none !important;
   content: none !important;
}

.mat-radio-group {
   padding: 10px 0 20px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
   margin: 0;
   padding: 0.45em 0;
}

.mat-form-field {
   min-width: 50px !important;

   .mat-form-field-outline {
      background: #fff !important;
   }

   &.mat-form-field-disabled {
      .mat-form-field-outline {
         background: #f9f9f9 !important;
      }
   }

   .mat-form-field-infix {
      width: auto !important;
   }
}

.mat-card {
   padding: 0 !important;
}

.container {
   padding: 15px;
   flex-direction: column;
   display: flex !important;
   box-sizing: border-box;
   height: 100%;
   width: 100%;
}

.mat-error {
   color: #ff5c5c;
   padding: 15px;
   margin-bottom: 20px;
   background: #ffd8d8;
   border-radius: 5px;
   border: 1px solid #ffbcbc;
}

.mat-tab-group.inner-content {
   margin-top: -5px;
   background: #ffffff;
   z-index: 99;
   border-radius: 5px;
   border: 1px solid #e0e0e0;
   min-height: 50px;
}

.mat-tab-label {
   min-width: 130px !important;
}

.mat-tab-link {
   min-width: 130px !important;
   width: 130px !important;
}

.wrap-menu-details {
   min-width: 220px;
   max-width: 230px;
   background-color: #590219;
   z-index: 99;
   overflow: hidden;

   .menu-details.mat-nav-list {
      min-width: 230px;
      padding: 10px;
      transition: 0.5s ease all;
      margin-left: 0;
      overflow-y: auto;

      .back {
         vertical-align: middle;
         color: #8b9a9e;
         text-transform: uppercase;
         font-size: 12px;
         padding: 10px;
         margin-left: 0;
         width: auto;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         text-align: left;
         cursor: pointer;
         display: flex;

         .mat-icon {
            margin-top: -3px;
            color: #8b9a9e;
            vertical-align: middle;
         }
      }

      &.sub-menu {
         &.hidden {
            display: none !important;
         }
      }

      &.drill-root {
         margin-left: -230px;
      }

      .mat-list-item {
         border-radius: 5px;
         margin: 5px 0;
         color: #ffffff;
         font-size: 14px;
         overflow: hidden;
         min-height: 45px;

         .mat-icon {
            margin-right: 8px;
            color: #ffffff;
         }

         .mat-icon-drilldown {
            position: absolute;
            right: 0;
         }

         &.active {
            background: #5E1C2F;
            color: white;

            .mat-icon {
               margin-right: 8px;
               color: white;
            }
         }
      }
   }
}

.form-actions {
   padding: 10px;
   background: white;
   padding: 10px;

   &.top {
      height: 66px;
      border-bottom: 1px solid #dddddd96;
   }

   &.bottom {
      border-top: 1px solid #eeeeee;
      height: 56px;
   }
}

.registers.mat-list {
   background: #f9f9f9;
   padding: 0;
   display: grid;

   .mat-list-item {
      background: #ffffff;
      border-bottom: 1px solid #eee;
      height: auto !important;
      padding: 15px 10px;
      width: auto !important;
      border-left: 4px;

      h4 {
         margin: 0;
         font-weight: 400;
         color: #333;
         white-space: inherit;
         overflow: inherit;
         text-overflow: inherit;
         display: block;
         box-sizing: border-box;
         font-size: 14px;
      }

      &.active {
         background-color: #f9f9f9;
         border-left: 4px solid #0086ca !important;
      }

      &.very-bad {
         border-color: red;
      }

      &.bad {
         border-color: orange;
      }

      &.average {
         border-color: gray;
      }

      &.good {
         border-color: blue;
      }

      &.very-good {
         border-color: green;
      }

      .mat-list-item-content {
         padding: 0 10px;
         min-height: 40px;
         width: 100%;
      }

      p {
         font-size: 14px !important;
         color: #666 !important;
         font-weight: 300 !important;
         margin-top: 2px !important;
         width: 100%;
         min-width: 100%;
      }
   }

   .mat-list-item:hover {
      background: #fafbfc;
      cursor: pointer;
   }

   .mat-list-item .mat-icon {
      font-size: 40px;
      width: 32px;
      height: 40px;
      color: #c9c9c9;
   }
}

.no-records {
   width: 340px;
   margin: auto;
   text-align: center;

   h2 {
      margin: 20px;
      font-weight: 500;
      line-height: 30px;
   }

   h3 {
      margin: 0;
      font-weight: 200;
      line-height: 26px;
      font-size: 18px;
   }

   img {
      margin: 30px auto 30px;
      max-width: 200px;
      display: block;
      max-height: 260px;
   }
}

.small-badge {
   border-radius: 10px;
   background: #e4e4e4;
   color: #333;
   font-size: 10px;
   margin: 2px;
   display: inline-block;
   min-width: 22px;
   height: 22px;
   padding: 0;
   line-height: 22px;
}

.list-badge {
   font-size: 10px !important;
   width: 48px;
   padding: 4px !important;
   margin-right: 10px;
   text-align: center;
   border-radius: 12px;
   display: inline-block;

   &.blue {
      border: 1px solid #2196f317;
      background: #2196f31a;
   }

   &.red {
      border: 1px solid #f35d2117;
      background: #f32f211a;
   }
}

ckeditor {
   height: 100%;
   background: white;
   display: block;
   min-height: 180px;
   box-sizing: border-box;

   .ck.ck-editor {
      height: 100% !important;
   }

   .ck.ck-content {
      height: 100% !important;
   }

   .ck-editor__main {
      height: calc(100% - 40px);
      background: white;
      display: block;
      min-height: 200px;
      overflow: auto;
   }
}

.ck-form-control-wrap {
   height: calc(100% - 120px);
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
   border-left: none !important;
   border-right: none !important;
   border-top: none !important;
   border-bottom: 1px solid #e0e0e0 !important;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
   border: none !important;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
   border: none !important;
   outline: none !important;
   box-shadow: none !important;
}

.mat-menu-content {
   width: 225px;
   padding: 0 !important;
}

.mat-option {
   line-height: 22px !important;
   padding: 6px 12px !important;
   text-align: left !important;
   text-decoration: none !important;
   max-width: 100% !important;
   position: relative !important;
   cursor: pointer !important;
   outline: 0 !important;
   display: flex !important;
   flex-direction: row !important;
   max-width: 100% !important;
   box-sizing: border-box !important;
   align-items: center !important;
   -webkit-tap-highlight-color: transparent !important;
   height: auto !important;
   font-size: 15px !important;
   border-top: 1px solid #f0f0f0 !important;
   min-height: 50px !important;
   white-space: break-spaces !important;
   overflow: auto !important;
   text-overflow: unset !important;
}

.cdk-overlay-container {
   z-index: 9999999 !important;
}