$ose-default-palette: (
    50 : #fbe2e6,
    100 : #f4b6c0,
    200 : #ec8798,
    300 : #e15971,
    400 : #d83855,
    500 : #fe2d34,
    600 : #ef2135,
    700 : #ac1239,
    800 : #4e040a,
    900 : #770032,
    A100 : #FF80AB,
    A200 : #FF4081,
    A400 : #F50057,
    A700 : #C51162,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ose-warn-palette: (
    50 : #ffd6d6,
    100 : #ff8a8a,
    200 : #ff5252,
    300 : #ff3d1e,
    400 : #ff0a0a,    
    500 : #cc0000,
    600 : #ad0000,
    700 : #8f0000,
    800 : #700000,
    900 : #520000,
    A100 : #ffcccc,
    A200 : #ff6666,
    A400 : #ff0000,
    A700 : #e60000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$ose-accent-palette: (
    50 : #e0f3ec,
    100 : #b3e0d0,
    200 : #82cdb2,
    300 : #52b894,
    400 : #2da97f,    
    500 : #0a996c,
    600 : #068c60,
    700 : #007c52,
    800 : #006c45,
    900 : #00502a,
    A100 : #A7FFEB,
    A200 : #64FFDA,
    A400 : #1DE9B6,
    A700 : #00BFA5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
