<div class="container">
    <div class="action-superior">
      <div
        fxLayout="row"
        style="margin-bottom: 30px"
        fxLayoutAlign="space-between center"
      >
        <span style="font-size: xx-large">Listado de Encuestas</span>
        <button
         *ngIf="authUserService.checkPermissions('add_manual')"
          mat-raised-button
          class="demo-button"
          color="primary"
          routerLink="./nuevo"
        >
          Nuevo
        </button>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. manual"
          #input
          autocomplete="off"
        />
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="demo-table" matSort  (matSortChange)="onChangeSort($event)">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="isCompany">
        <th mat-header-cell *matHeaderCellDef>Diriga a Empresa</th>
        <td mat-cell *matCellDef="let element">{{ element.is_to_company ? "Si" : "No" }}  </td>
      </ng-container>
      <ng-container matColumnDef="isGraduate">
        <th mat-header-cell *matHeaderCellDef>Diriga a Egresado</th>
        <td mat-cell *matCellDef="let element">{{ element.is_to_graduate ? "Si" : "No" }}  </td>
      </ng-container>
      <ng-container matColumnDef="period_days">
        <th mat-header-cell *matHeaderCellDef>Periodo de Días</th>
        <td mat-cell *matCellDef="let element">{{ element.period_days }}  </td>
      </ng-container>
      <ng-container matColumnDef="date_next_notify">
        <th mat-header-cell *matHeaderCellDef>Día de siguiente notificación</th>
        <td mat-cell *matCellDef="let element">{{ element.date_next_notify.substring(0,10) }}  </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
          <a class="pointer" style="color: #335b74" matTooltip="Editar Encuesta">
            <mat-icon style="cursor: pointer" (click)="edit(element)" *ngIf="authUserService.checkPermissions('change_poll'); else noCan;">
              edit
            </mat-icon>
            <ng-template #noCan>-</ng-template>
          </a>
          <a class="pointer" style="color: #335b74" matTooltip="Eliminar Encuesta">
            <mat-icon style="cursor: pointer" (click)="delete(element.id)" *ngIf="authUserService.checkPermissions('change_poll'); else noCan;">
              delete
            </mat-icon>
            <ng-template #noCan>-</ng-template>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginator
      showFirstLastButtons
      [length]="totalSize"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="currentPage"
      (page)="handlePage($event)"
    >
    </mat-paginator>
</div>
