<div mat-dialog-title> EVENTOS UNSA</div>
<div mat-dialog-content>
  <div class="content">
    <img src="{{data.extra_file}}">
    <h1>{{data.name}}</h1>
    <div class="content_detail">
      <h3 [innerHTML]="data.description"></h3>
      <div class="detail_list">
        <mat-icon>person</mat-icon>
        <span>Elaborado por: {{data.created_by?.first_name}}  {{data.created_by?.last_name}}</span>
      </div>
      <div class="detail_list">
        <mat-icon>calendar_today</mat-icon>
        <span>Fecha de Inicio: {{data.date_start| date:'yyyy/MM/dd'}}  Hora: {{data.date_start | date:'HH:mm:ss'}}</span>
      </div>
      <div class="detail_list">
        <mat-icon>calendar_today</mat-icon>
        <span>Fecha de Finalización: {{data.date_end| date:'yyyy/MM/dd'}}  Hora: {{data.date_end | date:'HH:mm:ss'}}</span>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center" style="margin-top: 2%;">
  <button mat-button *ngIf="!data.view_only"(click)="register(data.id)"mat-raised-button color="primary">Me interesa</button>
  <button mat-button (click)="onClickNo()" style="background-color: white;
  color:maroon;
  border: 1px solid maroon;">Cerrar</button>
  <button (click)="enroll()" *ngIf="authService.getToken() && data.can_register" class="enroll">Inscribirse</button>
</div>
