<div class="container-principal">
  <div class="container">
    <mat-toolbar style="margin: 0px 35px">
      <span>{{annoucementForm.value.id ? "Editar" : "Agregar"}} Convocatoria</span>
    </mat-toolbar>
    <div class="detail-activity">
      <form [formGroup]="annoucementForm" class="wrap-form" autocomplete="off">
        <div>
          <input type="hidden" formControlName="id" />
          <div class="fline" fxLayout="row" fxLayoutGap="40px">
            <mat-form-field fxFlex appearance="legacy">
              <input
                matInput
                formControlName="date_start"
                autocomplete="off"
                type="datetime-local"
                placeholder="Fecha de Inicio"
              />
            </mat-form-field>
            <mat-form-field fxFlex appearance="legacy">
              <input
                matInput
                formControlName="date_end"
                autocomplete="off"
                type="datetime-local"
                placeholder="Fecha Final"
              />
            </mat-form-field>
          </div>
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input formControlName="name" matInput placeholder="Nombre" />
            </mat-form-field>
          </div>
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <mat-select placeholder="Compañía" formControlName="company_pk">
                <mat-option
                  *ngFor="let kind of listCompanies"
                  [value]="kind"
                  required
                >
                  {{ kind.company_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="ck-form-control-wrap fline">
            <mat-label>Descripción</mat-label>
            <ckeditor
              [config]="editorConfig"
              [editor]="editor"
              formControlName="description"
            ></ckeditor>
          </div>
          <div class="fline" fxLayout="row" fxflex fxLayoutGap="40px">
            <label for="image">Imagen</label>
            <a
              *ngIf="showBeforeImage"
              href="{{annoucement.extra_file}}"
              target="_blank"
              style="color: black;"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="View Before Imagen"
                matTooltip="Ver Imagen Anterior"
              >
                image
              </mat-icon>
            </a>
            <input id="image" type="file" (change)="onFileChange($event)" />
          </div>
          <div class="fline" fxLayout="row" fxflex>
            <mat-checkbox formControlName="status">Status</mat-checkbox>
          </div>
          <div class="fline" fxLayout="row" fxflex>
            <mat-checkbox formControlName="is_validated">Validado</mat-checkbox>
          </div>
          <div class="actions" fxLayout="row">
            <div fxLayout="row" fxLayoutGap="15px">
              <button
                *ngIf="annoucementForm.value.id && authUserService.checkPermissions('delete_activity')"
                (click)="removeAction()"
                mat-stroked-button
                color="warn"
              >
                Eliminar
              </button>
            </div>
            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="end center"
              fxLayoutGap="15px"
            >
              <button (click)="cancel()" mat-stroked-button color="primary">
                Cancelar
              </button>
              <button
                (click)="save()"
                mat-raised-button
                color="primary"
              >
                {{annoucement ? "Confirmar cambios"  : "Crear Convocatoria"}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
