<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{institution ? "Editar Institución" : "Agregar Institución"}}</span>
    </mat-toolbar>
  </div>
  <div class="detail-area">
    <form [formGroup]="institutionForm" class="wrap-form" autocomplete="off">
      <div>
        <input type="hidden" formControlName="id" />
        <div class="fline" fxLayout="row">
          <mat-form-field fxFlex appearance="legacy">
            <input formControlName="institution_name" matInput placeholder="Nombre" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="fline" fxLayout="row">
          <mat-form-field fxFlex appearance="legacy">
            <input formControlName="social_reason" matInput placeholder="Razón Social" />
          </mat-form-field>
        </div>
      </div>
      <div class="fline" fxLayout="row">
        <mat-form-field appearance="fill" fxFlex>
          <mat-select
            placeholder="Identificadores"
            formControlName="identificator"
            [compareWith]="compareSelectedValue"
          >
            <ng-container *ngFor="let item of listIdentifiers">
              <mat-option [value]="item.id">{{ item.code }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div class="fline" fxLayout="row">
          <mat-form-field fxFlex appearance="legacy">
            <input formControlName="ruc" matInput placeholder="Número de documento" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="fline" fxLayout="row">
          <mat-form-field appearance="legacy" fxFlex>
            <input formControlName="institution_activity" matInput placeholder="Actividad de la Institución" />
          </mat-form-field>
        </div>
      </div>
      <div
        class="fline"
        fxLayout="row"
        fxflex
        fxLayoutGap="40px"
        style="margin: 18px 0"
      >
        <label for="logo">Imagen</label>
        <a
          *ngIf="showBeforeImage"
          href="{{ institution.logo }}"
          target="_blank"
          style="color: black"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="View Before Imagen"
            matTooltip="Ver Imagen Anterior"
          >
            image
          </mat-icon>
        </a>
        <input
          id="logo"
          type="file"
          (change)="onFileChange($event)"
        />
      </div>
      <!--
      <div class="fline" fxLayout="row" fxflex>
        <mat-checkbox formControlName="is_active">Habilitado</mat-checkbox>
      </div>

-->
      <div class="actions" fxLayout="row">
        <div fxLayout="row" *ngIf="institutionForm.value.id">
          <button
            *ngIf="institutionForm.value.id"
            (click)="removeAction()"
            mat-button
            color="warn"
          >
            Eliminar
          </button>
        </div>
        <div
          fxFlex
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="15px"
        >
          <button (click)="cancel()" mat-stroked-button color="primary">
            Cancelar
          </button>
          <button
            (click)="save()"
            mat-raised-button
            color="primary"
          >
            {{institution ? "Confirmar cambios"  : "Crear Institución"}}
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
