<div fxLayout="column">
   <div>
      <h2 mat-dialog-title fxFlex>
         <mat-icon style="vertical-align: middle; margin-bottom: 4px">
            settings
         </mat-icon>
         {{ title }}
      </h2>
      <button [mat-dialog-close]="" class="close-dialog"
      (click)="close()">
         <mat-icon style="vertical-align: middle; margin-bottom: 4px">
            close
         </mat-icon>
      </button>
   </div>
   <mat-dialog-content fxLayout="column">
     <div fxFlex fxLayoutAlign="end center">
       <button
         mat-raised-button
         class="demo-button"
         color="primary"
         routerLink="./nuevo"
         (click)="addObjectiveGroup(true)"
       >
         Nuevo
       </button>
     </div>
   </mat-dialog-content>
   <mat-dialog-actions fxLayout="row" style="padding: 12px 0;">
     <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
       <!-- Name Column -->
       <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Instancia</th>
         <td mat-cell *matCellDef="let element">{{ element.name }}</td>
       </ng-container>
       <ng-container matColumnDef="instance">
         <th mat-header-cell *matHeaderCellDef mat-sort-header>Instancia</th>
         <td mat-cell *matCellDef="let element">{{ element.instance.name }}</td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

     </table>
     <mat-paginator
       [pageSizeOptions]="[5, 10, 20]"
       showFirstLastButtons
     ></mat-paginator>
     <div fxFlex fxLayoutAlign="end center">
       <button
         mat-raised-button
         class="demo-button"
         color="primary"
         routerLink="./nuevo"
         (click)="sendMails()"
       >
         Enviar Correos
       </button>
     </div>
   </mat-dialog-actions>
</div>
