<div class="container">
    <div class="action-superior">
      <div
        fxLayout="row"
        style="margin-bottom: 30px"
        fxLayoutAlign="space-between center"
      >
        <span style="font-size: xx-large">Listado de Sugerencias</span>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. sugerencia"
          #input
          autocomplete="off"
        />

      </mat-form-field>
    </div>


    <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.text }}</td>
      </ng-container>
      <ng-container matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.datetime | date: "dd/MM/YYYY h:mm" }}</td>
      </ng-container>

      <ng-container matColumnDef="user_pk.username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.user_pk.username}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
          <a class="pointer" style="color: #335b74" matTooltip="Ver Sugerencia">
            <mat-icon style="cursor: pointer" (click)="viewSuggestion(element)"
            >
              visibility
            </mat-icon>
            <ng-template #noCan>-</ng-template>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
