<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>Editar mi usuario empresa</span>
    </mat-toolbar>
  </div>
  <button
    style="margin-left: 30px"
    mat-flat-button
    color="primary"
    (click)="disabledAccount()"
  >
    Deshabilitar Cuenta
  </button>
  <div class="container2">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="userCompanyForm">
        <form [formGroup]="userCompanyForm">
          <ng-template matStepLabel>Editar datos usuario</ng-template>
          <mat-form-field appearance="legacy">
            <input formControlName="first_name" matInput placeholder="Nombre" />
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <input formControlName="last_name" matInput placeholder="Apellido" />
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Identificador" (selectionChange)="onSelectIdent($event.value)"
              formControlName="identificator">
              <mat-option>Identificador</mat-option>
              <ng-container *ngFor="let item of listIdentifier">
                <mat-option [value]="item.id">{{
                  item.name
                  }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Documento</mat-label>
            <input matInput formControlName="document" placeholder="Ex. DNI" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Celular</mat-label>
            <input matInput formControlName="cell_phone" placeholder="Ex. 999888777" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phone" placeholder="Ex. 668855" required />
          </mat-form-field>
          <div class="picture">
            <mat-label>Cambiar foto</mat-label><br>
            <input type="file" (change)="onFileChangePicture($event)" />
          </div>
          <div class="button-style">
            <button mat-button matStepperNext (click)="isUpdate = !isUpdate">
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="companyForm">
        <form [formGroup]="companyForm">
          <ng-template matStepLabel>Editar Empresa</ng-template>
          <mat-form-field>
            <mat-select placeholder="Identificador" (selectionChange)="onSelectIdent($event.value)"
              formControlName="identificator">
              <mat-option>Identificador</mat-option>
              <ng-container *ngFor="let item of listIdentifier">
                <mat-option [value]=" item.id ">{{
                  item.name
                  }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nombre Empresa</mat-label>
            <input matInput formControlName="company_name" placeholder="Ej. OSE" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Razón Social</mat-label>
            <input matInput formControlName="social_reason" placeholder="Ej. Educación" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>RUC</mat-label>
            <input matInput formControlName="ruc" placeholder="Ej. 1111111111" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Actividad Empresa</mat-label>
            <input matInput formControlName="company_activity" placeholder="Ej. Actividad" required />
          </mat-form-field>
          <mat-label>Cambiar logo</mat-label><br>
          <input type="file" (change)="onFileChangeLogo($event)" />


          <div class="button-style">

            <button mat-button matStepperPrevious (click)="!(isUpdate = isUpdate)">
              Atrás
            </button>

            <button mat-button matStepperNext (click)="isUpdate = !isUpdate">
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Terminar</ng-template>
        <p>Actualización Terminada</p>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button (click)="guardar()">Guardar</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
