<div class="body">
    <div class="content">
        <div class="image">
            <img src="assets/images/logo-granate-ose.png" alt="login-picture">
        </div>
        <div class="login_form">
            <div class="login_form_items">
                <h3 class="title">Iniciar Sesión</h3>
                <form [formGroup]="loginForm">

                    <div class="form-input">
                       <span>Correo o Usuario</span>
                       <input  class="form-control"  type="text" id="email" formControlName="username" placeholder="Ingresa correo o usuario" >
                    </div>

                     <div class="form-input">
                        <span>Contraseña</span>
                        <input type="password" id="password" formControlName="password"  placeholder="Ingresa tu contraseña">
                    </div>
                  <div class="linkForgot">
                    <p><a routerLink="/forgot_password" routerLinkActive="active">¿Olvidaste tu contraseña?</a></p>
                  </div>
                  <!--div class="linkPass">
                    <a href="#">Olvidaste tu contraseña?</a>
                  </div-->
                  <div class="buttons " style="margin-top: 8%;">
                        <button type="button" (click)="onLogin()" mat-raised-button color="primary"  [class.spinner]="loading" [disabled]="loading"  [disabled]="loginForm.invalid">Iniciar Sesión</button>
                    </div>
                    <div class="buttons" style="margin-bottom: 10%;">
                        <button type="button" (click)="back()"  style="background-color: white;
                            color:maroon;
                            border: 1px solid maroon; " mat-button>Cancelar</button>
                    </div>
                    <div class="linkPass">
                        <p> ¿No tienes una cuenta? <a routerLink="/registrate" routerLinkActive="active">Registrate</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
