<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: xx-large">Listado de Actividades</span>

      <button
        *ngIf="authUserService.checkPermissions('add_activity')"
        mat-raised-button
        class="demo-button"
        color="primary"
        routerLink="./nuevo"
      >
        Nuevo
      </button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. user"
        #input
        autocomplete="off"
      />
    </mat-form-field>
    <!--div class="habilSyle">
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar usuarios habilitados o deshabilitados</mat-label>
        <mat-select (selectionChange)="onSelect($event.value)">
          <mat-option *ngFor="let habilit of habilitado" [value]="habilit.id">
            {{ habilit.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div-->
  </div>
  <div class="table">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
        <td mat-cell *matCellDef="let element">
          {{ element.start_date | date: "dd/MM/YYYY h:mm" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>Fecha Final
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.end_date | date: "dd/MM/YYYY h:mm" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="validated">
        <th mat-header-cell *matHeaderCellDef>Validado</th>
        <td mat-cell *matCellDef="let element">
          {{ element.is_validated ? "Si" : "No" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
          <a
            class="pointer"
            style="color: #335b74"
            matTooltip="Editar Actividad"
          >
            <mat-icon
              style="cursor: pointer"
              (click)="edit(element)"
              *ngIf="
                authUserService.checkPermissions('change_activity');
                else noCan
              "
            >
              edit
            </mat-icon>
            <ng-template #noCan>-</ng-template>
          </a>
          <a
            class="pointer"
            style="color: #335b74"
            matTooltip="Inscribir"
          >
            <mat-icon
              style="cursor: pointer"
              (click)="enroll(element, true)"
              *ngIf="element.can_register && authUserService.checkPermissions('validate_activity');
              "
            >
              assignment
            </mat-icon>
          </a>
          <a
            class="pointer"
            style="color: #335b74"
            matTooltip="Grupos Objetivos"
          >
            <mat-icon
              style="cursor: pointer"
              (click)="objectiveGroup(element, true)"
            >
              mail
            </mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator #paginator
      showFirstLastButtons
      [length]="totalSize"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageIndex]="currentPage"
      (page)="handlePage($event)"
    >
    </mat-paginator>
  </div>
</div>
