<div class="container">
    <div class="action-superior">
      <div
        fxLayout="row"
        style="margin-bottom: 30px"
        fxLayoutAlign="space-between center"
      >
        <span style="font-size: xx-large">Listado de Sedes</span>
        <button
        *ngIf="authUserService.checkPermissions('add_campus')"
          mat-raised-button
          class="demo-button"
          color="primary"
          routerLink="./nuevo"
        >
          Nuevo
        </button>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. sociales"
          #input
          autocomplete="off"
        />
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <!--ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef>Enabled</th>
        <td mat-cell *matCellDef="let element">{{ element.is_active ? "Si" : "No" }}  </td>
      </ng-container-->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
          <a class="pointer" style="color: #335b74" matTooltip="Editar Empleado">
            <mat-icon style="cursor: pointer" (click)="edit(element)"
            *ngIf="
              authUserService.checkPermissions('change_campus');
              else noCan
            "
            >
              edit
            </mat-icon>
            <ng-template #noCan>-</ng-template>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
