<div *ngIf="valueList">
  <list-graduate-work-experience [auth]="auth" [graduateProfilePk]="graduateProfilePk" (send)="changeValue($event)" (data)="changeData($event)"></list-graduate-work-experience>
</div>
<div *ngIf="valueForm" >
  <form-graduate-work-experience [auth]="auth" [graduateProfilePk]="graduateProfilePk" (cancel)="changeValueCancel($event)" [dataGenerate]="data" ></form-graduate-work-experience>
</div>
