<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{ faculty ? "Editar Facultad" : "Agregar Facultad" }}</span>
    </mat-toolbar>
  </div>
  <div class="detail-faculty">
    <form [formGroup]="facultyForm" class="wrap-form" autocomplete="off">
      <div>
        <input type="hidden" formControlName="id" />
        <div class="fline" fxLayout="row">
          <mat-form-field fxFlex appearance="legacy">
            <input formControlName="name" matInput placeholder="Nombre" />
          </mat-form-field>
        </div>
        <div class="fline" fxLayout="row">
          <mat-form-field appearance="legacy" fxFlex>
            <mat-label>Área</mat-label>
            <mat-select formControlName="area_field">
              <mat-option
                *ngFor="let area of areas"
                [value]="area.id"
                required
              >
                {{ area.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--div class="fline" fxLayout="row" fxflex>
          <mat-checkbox formControlName="is_active">Enabled</mat-checkbox>
        </div-->
        <div class="actions" fxLayout="row">
          <div fxLayout="row" *ngIf="facultyForm.value.id">
            <button
              *ngIf="facultyForm.value.id"
              (click)="removeAction()"
              mat-button
              color="warn"
            >
              Eliminar
            </button>
          </div>
          <div
            fxFlex
            fxLayout="row"
            fxLayoutAlign="end center"
            fxLayoutGap="15px"
          >
            <button (click)="cancel()" mat-stroked-button color="primary">
              Cancelar
            </button>
            <button (click)="save()" mat-raised-button color="primary">
              {{ faculty ? "Confirmar cambios" : "Crear Facultad" }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
