{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: white;
        }
        * {
            color: black;
        }
    </style>
</head>
<body>
Estimados Alumnos y Egresados buenos días:
<br>
Tengo a bien dirigirme a ustedes para saludarlos y a la vez indicarles que la Oficina de Seguimiento de Egresados OSE viene programando diversas actividades como talleres, charlas, conferencias, etc. dirigido a los alumnos y egresados de nuestra Universidad.
<br>
<br>
En esta oportunidad la OSE está organizando el “{{ activity.title }}”, motivo por el cual los invitamos y le hacemos llegar todo lo referente a este webinar virtual incluyendo el flyer.
<ul>
    <li><b>Realización del evento: </b>Desde {{  activity.start_date }} hasta {{  activity.end_date }}</li>
    <li><b>Dirigido a: </b>¡WORKING!</li>
    <li><b>Escuelas invitadas a participar: </b>¡WORKING!</li>
    <li><b>Enlace de invitación a la videoconferencia: </b><a href="{{ activity.link }}">{{ activity.link }}</a></li>
    <li><b>Enlace de emisión en directo: </b><a href="">¡WORKING!</a></li>
</ul>
<br>
{% autoescape off %}{{text_group}}{% endautoescape %}

Por las consideraciones antes expuestas, esperamos contar con su participación para llevar a cabo con éxito la actividad indicada.

<br>

Para cualquier consulta e información que requiera, favor dirigirse y solicitarlo a través de nuestro correo electrónico institucional:  dude_ose@unsa.edu.pe


<br>
Atentamente,
<br>
<img width="500px" src="https://ci5.googleusercontent.com/proxy/ijEE_0kRGOIBUHWrGj0lPkJgSoLVvIswbLBHb6Ost1deZWaH3dLFGqPbPixhXPxMdaNTxtv-Ndjwtpjx-siYdsNvVv4g83mDfGAyv9cq6GhR2CAGL6s67oK9UxZgCm5wHO8t=s0-d-e1-ft#https://drive.google.com/uc?id=1QkVNiPh_fducjvzA_QGw-ay-beP7XX0N&export=download" alt="Oficina de Seguimiento de Egresados">

</body>
</html>