<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: xx-large">Listado de Usuarios</span>

      <button
        *ngIf="authUserService.checkPermissions('add_user')"
        mat-raised-button
        class="demo-button"
        color="primary"
        routerLink="./nuevo"
      >
        Nuevo
      </button>
    </div>
    <div class="habilSyle">
      <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="70%" fxFlex.lg="70%" appearance="fill" style="margin-right: 20px;">
        <mat-label>Buscar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. user"
          #input
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="30%" fxFlex.lg="30%" appearance="fill" style="margin-right: 20px;">
        <mat-label>Filtrar por Grupo de Usuario</mat-label>
        <mat-select (selectionChange)="onSelectGroup($event.value)">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let group of listGroup" [value]=group>
            {{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource" class="demo-table" matSort  (matSortChange)="onChangeSort($event)">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
    </ng-container>
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Habilitado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.is_active ? "Si" : "No" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let element">
        <a class="pointer" style="color: #335b74" matTooltip="Editar Usuario">
          <mat-icon
            style="cursor: pointer"
            (click)="edit(element)"
            *ngIf="authUserService.checkPermissions('change_user'); else noCan"
          >
            edit
          </mat-icon>
          <ng-template #noCan>-</ng-template>
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    showFirstLastButtons
    [length]="totalSize"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="currentPage"
    (page)="handlePage($event)"
  ></mat-paginator>
</div>
