mat-toolbar {
  background: white;
  color: black;
}

mat-sidenav {
  margin: 16px;
  width: 252px;
  border-right: none;
  background: #590219;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px 16px 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}
.menu-button:focus{
  background: #5E1C2F;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}
.logo_university{
  width: 180px;
  height: 50px;
}

.designation {
  font-size: 15px;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
.example-spacer {
  flex: 1 1 auto;
}
.logout {
  vertical-align: middle;
  color: #ffffff;
  border: none;
  background-color: #590219;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 20px;
  margin-right: 10px;
  margin-left: 30px;
}
.logout:hover {
  background-color: #5E1C2F;
}
.home {
  vertical-align: middle;
  color: #590219;
  border: 2px solid #590219;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 20px;
  margin-right: 10px;
  margin-left: 30px;
}
.home:hover {
  color: #dc295a;
  border: 2px solid #dc295a;
}
mat-icon,span{
  vertical-align: middle;
}
@media (max-width: 1100px){
  mat-sidenav-content {
    height: calc(100vh - 65px);
  }
}
