<mat-toolbar>
  <img
    class="logo_university"
    src="../../assets/images/logo_unsa.png"
    alt="Logo UNSA"
  />
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span class="example-spacer"></span>
  <mat-icon>person</mat-icon>
  <span>{{username}}</span>
  <button class="home" (click)="onLogout()">
    <mat-icon>home</mat-icon>
    <span [routerLink]="['/home']"> Página de Inicio </span>
  </button>
  <button class="logout" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    <span> Cerrar Sesión </span>
  </button>
</mat-toolbar>
<div>

</div>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
   <a
   style="cursor: pointer"
   (click)="profile()"
   >
    <img
      *ngIf="image!==null&&image!==undefined&&image!==''"
      class="avatar mat-elevation-z8"
      src="{{image}}"
      alt="Imagen de Usuario"
    />
     <img
       *ngIf="image===null||image===undefined||image===''"
       class="avatar mat-elevation-z8"
       src="../../../assets/images/default.png"
       alt="Imagen de Usuario"

     />
  </a>
  <p class="name">{{name}}</p>
   <p class="designation">{{rol}}</p>
   <a   style="cursor: pointer" (click)="profile()"> <p class="designation">Editar perfil</p> </a>

    <mat-divider></mat-divider>
    <div class="wrap-menu-details" fxLayoutAlign="row">
      <mat-nav-list
        fxFlex
        fxLayout="column"
        class="menu-details"
        *ngIf="show"
        [ngClass]="watchDrilldown()"
        style="min-width: 210px"
      >
        <ng-container *ngFor="let item of mainMenu">
          <a
            *ngIf="!item.drilldown && item.drilldown !== 0"
            mat-list-item
            [routerLink]="item.link"
            [routerLinkActive]="['active']"
          >
            <mat-icon aria-label="" class="sidebar-mat-icon">{{
              item.icon
            }}</mat-icon>
            {{ item.text }}
          </a>
          <a
            *ngIf="item.drilldown || item.drilldown === 0"
            mat-list-item
            (click)="drilldown(item.drilldown)"
          >
            <mat-icon aria-label="" class="sidebar-mat-icon">{{
              item.icon
            }}</mat-icon>
            {{ item.text }}
            <mat-icon aria-label="" class="mat-icon-drilldown"
              >chevron_right</mat-icon
            >
          </a>
        </ng-container>
      </mat-nav-list>

      <mat-nav-list
        class="menu-details sub-menu"
        fxLayout="column"
        [ngClass]="navigators[0]"
      >
        <a (click)="backFrom(0)" class="back" fxLayoutAlign="start">
          <mat-icon aria-label="" class="sidebar-mat-icon"
            >chevron_left</mat-icon
          >
          Usuarios
        </a>
        <a
          *ngFor="let item of userMenu"
          mat-list-item
          [routerLink]="item.link"
          [routerLinkActive]="['active']"
        >
          <mat-icon  aria-label="" class="sidebar-mat-icon">{{
            item.icon
            }}</mat-icon>
          {{ item.text }}
        </a>
      </mat-nav-list>

      <mat-nav-list
        class="menu-details sub-menu"
        fxLayout="column"
        [ngClass]="navigators[1]"
      >
        <a (click)="backFrom(1)" class="back">
          <mat-icon aria-label="" class="sidebar-mat-icon"
            >chevron_left</mat-icon
          >
          Configuraciones
        </a>
        <a
          *ngFor="let item of configMenu"
          mat-list-item
          [routerLink]="item.link"
          [routerLinkActive]="['active']"
        >
          <mat-icon aria-label="" class="sidebar-mat-icon">{{
            item.icon
          }}</mat-icon>
          {{ item.text }}
        </a>
      </mat-nav-list>

      <mat-nav-list
        class="menu-details sub-menu"
        fxLayout="column"
        [ngClass]="navigators[2]"
      >
        <a (click)="backFrom(2)" class="back" fxLayoutAlign="start">
          <mat-icon aria-label="" class="sidebar-mat-icon"
            >chevron_left</mat-icon
          >
          Actividades
        </a>
        <a
          *ngFor="let item of activityMenu"
          mat-list-item
          [routerLink]="item.link"
          [routerLinkActive]="['active']"
        >
          <mat-icon aria-label="" class="sidebar-mat-icon">{{
            item.icon
          }}</mat-icon>
          {{ item.text }}
        </a>
      </mat-nav-list>
      <mat-nav-list
        class="menu-details sub-menu"
        fxLayout="column"
        [ngClass]="navigators[3]"
      >
        <a (click)="backFrom(3)" class="back" fxLayoutAlign="start">
          <mat-icon aria-label="" class="sidebar-mat-icon"
            >chevron_left</mat-icon
          >
          Solicitudes
        </a>
        <a
          *ngFor="let item of requestMenu"
          mat-list-item
          [routerLink]="item.link"
          [routerLinkActive]="['active']"
        >
          <mat-icon aria-label="" class="sidebar-mat-icon">{{
            item.icon
          }}</mat-icon>
          {{ item.text }}
        </a>
      </mat-nav-list>
      <mat-nav-list
      class="menu-details sub-menu"
      fxLayout="column"
      [ngClass]="navigators[4]"
    >
      <a (click)="backFrom(4)" class="back" fxLayoutAlign="start">
        <mat-icon aria-label="" class="sidebar-mat-icon"
          >chevron_left</mat-icon
        >
        Instancias
      </a>
      <a
        *ngFor="let item of instancesMenu"
        mat-list-item
        [routerLink]="item.link"
        [routerLinkActive]="['active']"
      >
        <mat-icon aria-label="" class="sidebar-mat-icon">{{
          item.icon
        }}</mat-icon>
        {{ item.text }}
      </a>
    </mat-nav-list>
    <mat-nav-list
    class="menu-details sub-menu"
    fxLayout="column"
    [ngClass]="navigators[5]"
  >
    <a (click)="backFrom(5)" class="back" fxLayoutAlign="start">
      <mat-icon aria-label="" class="sidebar-mat-icon"
        >chevron_left</mat-icon
      >
      Bolsa de Trabajo
    </a>
    <a
      *ngFor="let item of announcementMenu"
      mat-list-item
      [routerLink]="item.link"
      [routerLinkActive]="['active']"
    >
      <mat-icon aria-label="" class="sidebar-mat-icon">{{
        item.icon
      }}</mat-icon>
      {{ item.text }}
    </a>
  </mat-nav-list>
    <mat-nav-list
        class="menu-details sub-menu"
        fxLayout="column"
        [ngClass]="navigators[6]"
      >
        <a (click)="backFrom(6)" class="back" fxLayoutAlign="start">
          <mat-icon aria-label="" class="sidebar-mat-icon"
          >chevron_left</mat-icon
          >
          Sugerencias
        </a>
        <a
          *ngFor="let item of suggestionMenu"
          mat-list-item
          [routerLink]="item.link"
          [routerLinkActive]="['active']"
        >
          <mat-icon aria-label="" class="sidebar-mat-icon">{{
            item.icon
            }}</mat-icon>
          {{ item.text }}
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
