.title {
    text-align: center;
    padding: 20px;
  }
  .title > h1 {
    font-size: 5vh;
    color: #5F071C;
  }
  .content{
    padding: 30px;

  }
  .mat-card {
    border-radius: 20px;
    max-height: 100%;
    min-height: 100%;
  }
  .mat-card > mat-card-content {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    max-height: 40%;
    min-height: 40%;
  }
  .mat-card > mat-card-content > .contenido {
    margin-bottom: max(8px, 2%);
  }

  .mat-card > mat-card-content >.contenido > h1 {
    font-size: 3vh;
    color: #5F071C;
    font-weight: 500;
    max-font-size: 100%;
    padding-top: max(1px, 2%);
    padding-bottom: max(1px, 2%);
  }
  .mat-card > mat-card-content >.contenido > p {
    font-size: 2vh;
    max-font-size: 100%;
    padding-top: max(1px, 2%);
    padding-bottom: max(1px, 2%);
  }
  .mat-card > mat-card-content > img {
    object-fit: cover;
    margin-top: 20px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
  }
  .actions {
    overflow: hidden;
    padding-top: 5%;
    padding-bottom:5%;
  }
  .enroll{
    float: right;
    color: #ffffff;
    border: none;
    background-color: #590219;
    border-radius: 20px;
    font-size: 14px;
    padding: 2% 5%;
    margin-right: 10px;
    margin-left: 30px;
    max-height: 100%;

  }
  .enroll:hover {
    background-color: #b53c60;
    cursor:pointer;
  }
  .info {
    cursor:pointer;
    padding-top: 2%;
    //padding: 1% 2%;
    vertical-align: middle;
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #590219;
    text-decoration:none;
    max-height: 100%;
  }




  .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .2s ease-in-out ;
    background-image: url('../../../../assets/home/unsa_08.jpg');
    animation:  banner 50s infinite linear;
  }
  .banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(0, 22, 40, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .banner-content h1{
    -webkit-text-stroke: 1px #5c1b26;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: calc(2em + 2vw);
    text-align: center;
  }
  .banner-content h1.mar-bot{
    margin-bottom: 4%;
  }
  .banner-content h1.mar-top{
    margin-top: 15%;
  }
  .banner-content h2{
    -webkit-text-stroke: 1px #5c1b26;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: calc(1em + 1vw);
    text-align: center;
  }
  .banner-content h2.mar-bot{
    margin-bottom: 4%;
  }
  .banner-content h2.mar-top{
    margin-top: 15%;
  }
  .banner-content a{
    text-decoration: none;
    color: #F5F5F5;
    padding: 9px 20px;
    border: 2px solid #F5F5F5;
    background-color: #880a0acc;
    transition: all .3s ease-in-out;
    font-size: 1.3em;
    margin: 10px;
    padding: 15px 50px;

  }
  .banner-content a:hover{
    background-color: #fff;
    color: #880a0a;
  }

  @keyframes banner{
    0%{
      background-image: url('../../../../assets/home/unsa_08.jpg');
    }
    25%{
      background-image: url('../../../../assets/home/unsa_08.jpg');
    }
    26%{
      background-image: url('../../../../assets/home/unsa_09.jpg');
    }
    50%{
      background-image: url('../../../../assets/home/unsa_09.jpg');
    }
    51%{
      background-image: url('../../../../assets/home/unsa_19.jpg');
    }
    75%{
      background-image: url('../../../../assets/home/unsa_19.jpg');
    }
    76%{
      background-image: url('../../../../assets/home/unsa_07.jpg');
    }
    100%{
      background-image: url('../../../../assets/home/unsa_07.jpg');
    }
  }
  .title_description {
    display: inline-block;
	  margin-top: 2rem;
    margin-bottom: 2rem;
	  text-decoration: none;
    border-bottom: 2px solid #361318;
    padding-bottom: 1rem;
    font-style: normal;
    font-size: calc(1em + 1vw);
    line-height: 15px;
    text-align: center;
    color: #361318;
  }
  .description {
    padding: 3rem;
  }
  p {
    text-align: justify;
  }
  .grid-image{
    margin:3%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  @media (max-width: 1100px){
    .item-hide-small{
        display: none;
    }
  }
  #image {
    width:100%;
  }
