<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{ modeEdit ? "Editar Grupo Objetivo" : "Agregar Grupo Objetivo" }}</span>
    </mat-toolbar>
  </div>
  <form [formGroup]="targetGroupAnnouForm" class="normal-form">
    <div class="myContainer">
      <input type="hidden" formControlName="id" />
      <mat-form-field>
        <input  type="text" formControlName="text_invitation" maxlength="500" matInput placeholder="Texto de Invitación" />
        <mat-error>Este campo es obligatorio..</mat-error>
      </mat-form-field>
      <mat-form-field class="style-field">
        <mat-select  placeholder="Seleccionar Convocatoria"  formControlName="announcement" maxlength="30" >
          <mat-option *ngFor="let listAnnouncement of listAnnouncement" [value]="listAnnouncement.id">
            {{listAnnouncement.name}}
          </mat-option>
        </mat-select>
        <mat-error>Este campo es obligatorio..</mat-error>
      </mat-form-field>

      <mat-label style="margin-top: 5%;">Seleccione instancia:  
        <mat-radio-group aria-label="Select an option"  (change)="radioButton($event)" >
          <mat-radio-button class="example-radio-button" *ngFor="let listAnnouncement of instancesList" [value]="listAnnouncement.id" style="margin-right: 3%;margin-left:3%;">
            {{listAnnouncement.name}}
          </mat-radio-button>
        </mat-radio-group>
    </mat-label>  
   

      <mat-grid-list cols="3"  rowHeight="3:1">
        <mat-grid-tile style="width: 100%;">
          <mat-form-field >
            <mat-select  placeholder="Seleccionar Área"  formControlName="instance" maxlength="30" [disabled]="disabledArea">
              <mat-option *ngFor="let listA of listArea" [value]="listA.id">
                {{listA.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select  placeholder="Seleccionar Facultad"  formControlName="instance" maxlength="30" [disabled]="disabledFaculty">
              <mat-option *ngFor="let list of listFaculty" [value]="list.id">
                {{list.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field >
            <mat-select  placeholder="Seleccionar Programa profesional"  formControlName="instance" maxlength="30" [disabled]="disabledProgram" >
              <mat-option *ngFor="let listP of listProgram" [value]="listP.id">
                {{listP.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-checkbox formControlName="is_active" class="style-field">Habilitado</mat-checkbox>
      <button
        (click)="save()"
        mat-raised-button
        color="primary"
        class="style-field"
      >
        {{ modeEdit ? "Confirmar cambios" : "Crear Grupo Objetivo Convocatoria" }}
      </button>
      <button (click)="cancel()" mat-stroked-button color="primary" class="style-field">Atrás</button>          
    </div>
  </form>
</div>
