:host {
  .container {
    width: 98%;
  }
  .container-principal {
    margin: 3%;
    width: 95%;
  }
  form.normal-form {
    margin-right: 3rem;
    margin-left: 2rem;
  }
  .myContainer {
    display: flex;
    flex-direction: column;
    padding-left: 2rem auto;
    padding-right: 2rem auto;
  }
  .style-field {
    margin-top: 2rem;
  }
  .instances {
    width: 100%;
  }
}
::ng-deep .mat-grid-tile .mat-form-field {
   min-width: 90% !important;
   margin-top: 18% !important;
   margin-bottom: 9% !important;
 }
