<div class="content">
  <div class = title>
    <h1> Informes - Actividades</h1>

  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let act of displayActivities">
      <mat-card class="mat-elevation-z4" *ngIf="act.is_validated">
        <mat-card-header>
          <template></template>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="{{act.image}}">
          <div class="contenido">
            <h1>{{act.title}}</h1>
          </div>
          <div class="actions">
            <a class="info" (click)="openDialog(act)"> Ver más >> </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
