<div class="container">
    <div class="action-superior">
      <div
        fxLayout="row"
        style="margin-bottom: 30px"
        fxLayoutAlign="space-between center"
      >
        <span style="font-size: xx-large">Listado de Convocatorias</span>

        <button
        *ngIf="authUserService.checkPermissions('add_announcement')"
          mat-raised-button
          class="demo-button"
          color="primary"
          routerLink="./nuevo"
        >
          Nuevo
        </button>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. sociales"
          #input
          autocomplete="off"
        />

      </mat-form-field>
      <!--div class="habilSyle">
        <mat-form-field appearance="fill">
          <mat-label>Seleccionar areas habilitados o deshabilitados</mat-label>
          <mat-select (selectionChange)="onSelect($event.value)">
        <mat-option *ngFor="let habilit of habilitado" [value]=habilit.id>
          {{habilit.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    </div-->
    </div>


    <table mat-table [dataSource]="dataSource" class="demo-table" matSort  (matSortChange)="onChangeSort($event)">
      <!--- Note that these columns can be defined in any order.
           The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column
     <ng-container matColumnDef="nro">
       <th mat-header-cell *matHeaderCellDef> No. </th>
       <td mat-cell *matCellDef="let element"> 1 </td>
     </ng-container>-->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="date_start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Inicio</th>
        <td mat-cell *matCellDef="let element">{{ element.date_start | date: "dd/MM/YYYY h:mm" }}</td>
      </ng-container>
      <ng-container matColumnDef="date_end">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Fin</th>
        <td mat-cell *matCellDef="let element">{{ element.date_end | date: "dd/MM/YYYY h:mm" }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
          <a class="pointer" style="color: #335b74" matTooltip="Editar Convocatoria">
            <mat-icon style="cursor: pointer" (click)="edit(element)"
            *ngIf="
              authUserService.checkPermissions('change_announcement');
              else noCan
            "
            >
              edit
            </mat-icon>
            <ng-template #noCan>-</ng-template>
          </a>
          <a
            class="pointer"
            style="color: #335b74"
            matTooltip="Enviar Correos"
          >
          <mat-icon style="cursor: pointer" (click)="targetGroup(element,true)">
            mail
          </mat-icon>
            <ng-template #noCan>-</ng-template>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator
    #paginator
    showFirstLastButtons
    [length]="totalSize"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="currentPage"
    (page)="handlePage($event)"
  >
  </mat-paginator>
  </div>
