<div fxFlex fxLayout="column" style="margin: 10px 0">
  <form [formGroup]="profileForm" class="normal-form" fxLayoutGap="30px">
    <div fxFlex fxLayout="column">
      <div class="controles-container" fxflex>
        <input type="hidden" formControlName="id" />
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <mat-select
              placeholder="Identificadores"
              formControlName="identificator"
            >
                <mat-option *ngFor="let item of identifierList" [value]="item.id">{{ item.code }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <mat-select
              placeholder="Puesto de Trabajo"
              formControlName="job_position"
            >
                <mat-option *ngFor="let item of jobPositionList" [value]="item.id">{{ item.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field style="width: 100%">
          <mat-select
            placeholder="Tipo de Empleado"
            formControlName="type_employee"
          >
            <mat-option *ngFor="let item of typeEmployeeList" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-select
            placeholder="Instancia / Programa Profesional"
            formControlName="instance"
          >
            <mat-option *ngFor="let item of programList" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input formControlName="cell_phone" matInput placeholder="Celular" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex fxLayout="column">
      <div class="controles-container">
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <input
              formControlName="document"
              matInput
              placeholder="No de Documento"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field style="width: 100%">
            <input
              formControlName="phone"
              matInput
              placeholder="Teléfono Fijo"
            />
          </mat-form-field>
        </div>
        <!--div
          class="fline"
          fxLayout="row"
          fxflex
          fxLayoutGap="40px"
          style="margin: 18px 0"
        >
          <label for="picture">Imagen</label>
          <a
            *ngIf="showBeforeImage"
            href="{{ profile.picture }}"
            target="_blank"
            style="color: black"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="View Before Imagen"
              matTooltip="Ver Imagen Anterior"
            >
              image
            </mat-icon>
          </a>
          <input id="picture" type="file" (change)="onFileChange($event)" />
        </div-->

        <!--div class="add-bottom-padding" fxLayout="row" style="margin: 18px 0">
          <mat-checkbox formControlName="is_active">Enabled</mat-checkbox>
        </div-->
        <button
          (click)="save()"
          color="primary"
          mat-raised-button
          style="margin: 10px 0; width: 100%"
        >
          Continuar
        </button>
      </div>
    </div>
  </form>
</div>
