{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: white;
        }
        * {
            color: black;
        }
        button {
            background-color: #008CBA;
            width: 80%;
        }
        .button-5 {
          align-items: center;
          background-clip: padding-box;
          background-color: #590219;
          border: 1px solid transparent;
          border-radius: .25rem;
          box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
          box-sizing: border-box;
          color: #fff;
          cursor: pointer;
          display: inline-flex;
          font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 16px;
          font-weight: 600;
          justify-content: center;
          line-height: 1.25;
          margin: 0;
          min-height: 3rem;
          padding: calc(.875rem - 1px) calc(1.5rem - 1px);
          position: relative;
          text-decoration: none;
          transition: all 250ms;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          vertical-align: baseline;
          width: auto;
        }

        .button-5:hover,
        .button-5:focus {
          background-color: #330000;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        }

        .button-5:hover {
          transform: translateY(-1px);
        }

        .button-5:active {
          background-color: #8b353f;
          box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
          transform: translateY(0);
        }
    </style>
</head>
<body>
Estimado(a) {{ request.user.first_name }}:
<br>
Tengo a bien dirigirme a ustedes para saludarle y a la vez indicarle que la Oficina de Seguimiento de Egresados OSE ha recibido una solicitud de cambio de contraseña para esta cuenta de usuario.
<br>
<br>
<br>
<center>
    <a href="{{ redirect_to }}{{ request.uuid }}">
        <button class="button-5" role="button">
            HACER CLICK AQUI
        </button>
    </a>
</center>
<br>

Para cualquier consulta e información que requiera, favor dirigirse y solicitarlo a través de nuestro correo electrónico institucional:  dude_ose@unsa.edu.pe


<br>
Atentamente,
<br>
<img width="500px" src="https://ci5.googleusercontent.com/proxy/ijEE_0kRGOIBUHWrGj0lPkJgSoLVvIswbLBHb6Ost1deZWaH3dLFGqPbPixhXPxMdaNTxtv-Ndjwtpjx-siYdsNvVv4g83mDfGAyv9cq6GhR2CAGL6s67oK9UxZgCm5wHO8t=s0-d-e1-ft#https://drive.google.com/uc?id=1QkVNiPh_fducjvzA_QGw-ay-beP7XX0N&export=download" alt="Oficina de Seguimiento de Egresados">

</body>
</html>