<div class="card-flotant-fixed">
  <p class="text-card-flotant" *ngIf="configPage!==undefined">
    <a *ngIf="configPage.link_facebook!==null && configPage.link_facebook!=='' "
      [href]="configPage.link_facebook" target="_blank" style="margin-bottom: 0.5rem">
      <img src="{{pageConfigService.image_facebook}}" alt="" matTooltip="Facebook"
           matTooltipPosition="above" width="48">
    </a>
    <a *ngIf="configPage.link_twitter!==null && configPage.link_twitter!=='' "
      [href]="configPage.link_twitter" target="_blank" style="margin-bottom: 0.5rem">
      <img src="{{pageConfigService.image_twitter}}" alt="" matTooltip="Twitter"
           matTooltipPosition="above" width="48">
    </a>
    <a *ngIf="configPage.link_youtube!==null && configPage.link_youtube!=='' "
      [href]="configPage.link_youtube" target="_blank" style="margin-bottom: 0.5rem">
      <img src="{{pageConfigService.image_youtube}}" alt="" matTooltip="Youtube"
           matTooltipPosition="above" width="44">
    </a>
    <a *ngIf="configPage.link_linkedin!==null && configPage.link_linkedin!=='' "
       [href]="configPage.link_linkedin" target="_blank" style="margin-bottom: 0.5rem">
      <img src="{{pageConfigService.image_linkedin}}" alt="" matTooltip="Linkedin"
           matTooltipPosition="above" width="44">
    </a>
    <a *ngIf="configPage.link_instagram!==null && configPage.link_instagram!=='' "
       [href]="configPage.link_instagram" target="_blank">
      <img src="{{pageConfigService.image_instagram}}" alt="" matTooltip="Instagram"
           matTooltipPosition="above" width="48">
    </a>
  </p>
</div>
<section
  class="banner"
  id="banne"
>
  <div class="banner-content">
    <h1 class="mar-bot mar-top">OSE</h1>
    <h2> OFICINA DE SEGUIMIENTO DE EGRESADOS Y </h2>
    <h2 class="mar-bot">BOLSA DE TRABAJO</h2>
    <a href="/registrate">REGISTRATE</a>
  </div>
</section>
<div class="grid-image">

    <div >
      <div class="description" >
        <h1 class="title_description">PRESENTACIÓN</h1>
        <p *ngIf="configPage!==undefined" [innerHTML]="configPage.principal_text"></p>
        <p *ngIf="configPage!==undefined" [innerHTML]="configPage.principal_announcement"></p>
      </div>
    </div>
    <div class="item-hide-small">
      <img
       id="image"
       src="./assets/images/logo-granate-ose.png"
      />
      </div>
</div>

<div class="container-all">

  <div class="container">
  <input type="radio" id="1" name="image-slide" hidden/>
  <input type="radio" id="2" name="image-slide" hidden/>
  <input type="radio" id="3" name="image-slide" hidden/>
  <input type="radio" id="4" name="image-slide" hidden/>
  <input type="radio" id="5" name="image-slide" hidden/>
  <div class="slide">
    <div class="item-slide" *ngFor="let info of listActivity">
     <div class="imageActivity ">
      <img src="{{info.image}}"  width="640" height="410"/>
     </div>
     <div class="description_activity">
       <div class="description_item">
        <h1>{{info.title}}</h1>
        <p [innerHTML]="info.description"></p>
      <table CELLSPACING="10">
          <tr>
            <td>Fecha Inicio : </td>
            <td>{{ info.start_date| date:'yyyy/MM/dd' }}</td>
            <td>   </td>
            <td>Hora Inicio: </td>
            <td>{{ info.start_date| date:'HH:mm:ss' }}</td>
          </tr>
          <tr>
            <td>Fecha Fin :</td>
            <td>{{info.end_date| date:'yyyy/MM/dd' }}</td>
            <td> </td>
            <td>Hora Fin : </td>
            <td>{{ info.end_date| date:'HH:mm:ss' }}</td>
          </tr>

        </table>
      </div>
      <div>
        <button (click)="enroll(info)" *ngIf="authService.getToken() && info.can_register" class="description_button">Inscribirse</button>
      </div>
    </div>
    </div>
  </div>
  <div class="pagination">
    <label class="pagination-item" for="1">

    </label>
    <label class="pagination-item" for="2">

    </label>
    <label class="pagination-item" for="3">

    </label>
    <label class="pagination-item" for="4">

    </label>
    <label class="pagination-item" for="5">

    </label>
  </div>
    </div>
</div>
