.card-flotant-fixed{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
  z-index: 2;
}

.text-card-flotant{
  writing-mode: vertical-lr;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
  text-decoration: none;
  transition: all .3s ease-in-out;
  font-size: 1em;
}
/*titulo de cada info*/
.title_description{
	text-decoration: underline;
	color:white;
	font-size: 2vw;
	margin-top:10%;
}
/*contenedor de texto e imagen*/
.container-all{
	position: relative;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	background: #3a0000;

}


/*Para mantener la transicionen el div, contenedor de texto slide*/
.container{
	overflow: hidden;
  background-color: #6E2F2F;
}

/*Contiene c que tenemos*/
.slide{
	/*Coloca los tres  en un fila*/
	display: flex;
	width: 101%;
  transform: translate3d(0,0,0);
	transition: all 900ms;
	animation-name:autoplay;
	/*Duracion entre texto*/
	animation-duration: 16.5s;
	animation-direction: alternate;
	/*animacion que comienza al principio*/
	animation-fill-mode: forwards;
	/*animacion infinita*/
	animation-iteration-count: infinite;
}
/*Posicionar bien las imagenes*/
.item-slide{
	  width: 100%;
    justify-content: space-around;
    flex-shrink: 0;
    display: flex;

    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.item-slide :nth-child(2){
    color: #fff;
}
.imageActivity{
  width: 100%;
//  background-color: white;
  margin-left: auto;
  margin-bottom: -1%;
}

.description_button{
  text-decoration: none;
  border: 3px solid black;
  background-color: #F5F5F5;
  transition: all .3s ease-in-out;
  font-size: 1.3em;
  padding: 7px 25px;
  margin-left: 75%;
}

.description_item{
  margin-bottom: 10%;
}
.description_activity{
  padding: 3rem;
}
.item-slide > div{
width: 80%;
}

.item-slide p {
    text-align: justify;
   	color:white;
  	font-size: 1.1vw;
}
.item-slide td {
  text-align: justify;
   color:white;
  font-size: 1.1vw;
  border-collapse: separate;
}

.pagination{
	margin-top:3%;
	margin-bottom: 2%;
	left:20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}
/*forma de botones de paginacion*/
.pagination-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border:3px solid white;
	width: 16px;
	height: 16px;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
	background: white;
	margin: 0 10px 10px 10px;
	text-align: center;
	transition: all 800ms;
}
/*cada uno de los cuadros a pasar con el cursos crecera*/
.pagination-item:hover{
	transform: scale(2);
}


.pagination-item img{
	display: inline-block;
	max-width: none;
	height: 100%;
	transform: scale(1);
	opacity: 0;
	transition: all 900ms;
}
.pagination-item:hover img{
	transform: scale(1);
}

/*al precionar un boton ya no habra animacion*/
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
/*al pulsar donde estemos se quede en blanco*/
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: black;
}
/*al precionar un boton ya no habra animacion*/
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
/*al pulsar donde estemos se quede en blanco*/
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
     background: black;
}input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
     background: black;
}
input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
     background: black;
}

input[id="5"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 4), 0, 0);
}

input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
     background: black;
}


/*Responsividad*/
@keyframes autoplay{
    20%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

   40%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    60%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    80%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 4), 0, 0);
    }
}
@media only screen and (max-width:800px) {
  /* For mobile phones: */
 .container, .pagination {
    width:100%;
  }
  #imageSlide {
  float:left;
  width: 100%; height:100%;
}
.pagination{
	margin-top:2%;
	bottom: 20px;
	left:20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}
}
@media only screen and (max-width:1000px) {
  /* For mobile phones: */

.title_description{

	color:white;
	font-size: 100%;
	margin-top:10%;

}
.item-slide p{

    text-align: justify;
  	color:white;
  	font-size:92%;
}
.pagination{
	margin-top:2%;
	bottom: 20px;
	left:20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}
}

//EDWIN


  .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .2s ease-in-out ;
    background-image: url('../../../../assets/home/unsa_08.jpg');
    animation:  banner 50s infinite linear;
  }
  .banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(0, 22, 40, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .banner-content h1{
    -webkit-text-stroke: 1px #5c1b26;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: calc(2em + 2vw);
    text-align: center;
  }
  .banner-content h1.mar-bot{
    margin-bottom: 4%;
  }
  .banner-content h1.mar-top{
    margin-top: 15%;
  }
  .banner-content h2{
    -webkit-text-stroke: 1px #5c1b26;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: calc(1em + 1vw);
    text-align: center;
  }
  .banner-content h2.mar-bot{
    margin-bottom: 4%;
  }
  .banner-content h2.mar-top{
    margin-top: 15%;
  }
  .banner-content a{
    text-decoration: none;
    color: #F5F5F5;
    padding: 9px 20px;
    border: 2px solid #F5F5F5;
    background-color: #880a0acc;
    transition: all .3s ease-in-out;
    font-size: 1.3em;
    margin: 10px;
    padding: 15px 50px;

  }
  .banner-content a:hover{
    background-color: #fff;
    color: #880a0a;
  }

  @keyframes banner{
    0%{
      background-image: url('../../../../assets/home/unsa_08.jpg');
    }
    25%{
      background-image: url('../../../../assets/home/unsa_08.jpg');
    }
    26%{
      background-image: url('../../../../assets/home/unsa_09.jpg');
    }
    50%{
      background-image: url('../../../../assets/home/unsa_09.jpg');
    }
    51%{
      background-image: url('../../../../assets/home/unsa_19.jpg');
    }
    75%{
      background-image: url('../../../../assets/home/unsa_19.jpg');
    }
    76%{
      background-image: url('../../../../assets/home/unsa_07.jpg');
    }
    100%{
      background-image: url('../../../../assets/home/unsa_07.jpg');
    }
  }
  .title_description {
    display: inline-block;
	  margin-top: 2rem;
    margin-bottom: 2rem;
	  text-decoration: none;
    border-bottom: 2px solid #361318;
    padding-bottom: 1rem;
    font-style: normal;
    font-size: calc(1em + 1vw);
    line-height: 15px;
    text-align: center;
    color: #361318;
  }
  .description {
    padding: 3rem;
  }
  p {
    text-align: justify;
  }
  .grid-image{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  @media (max-width: 1100px){
    .item-hide-small{
        display: none;
    }
  }
  #image {
    width:100%;
  }


