<div class="body">
    <div class="content">
        <div class="image">
            <img src="assets/images/logo-granate-ose.png" alt="login-picture">
        </div>
        <div class="login_form">
            <div class="login_form_items">
                <h3 class="title">Resetear Contraseña</h3>
                <form [formGroup]="forgotPasswordForm">
                    <div class="form-input">
                       <span>Correo Electrónico</span>
                       <input  class="form-control"  type="text" id="email" formControlName="email" placeholder="Ingresa su correo electrónico" >
                    </div>
                  <div class="buttons " style="margin-top: 8%;">
                    <button type="button" (click)="forgotPassword()" mat-raised-button color="primary"  [class.spinner]="loading" [disabled]="loading"  [disabled]="forgotPasswordForm.invalid">Resetear Contraseña</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
