{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: white;
        }
        * {
            color: black;
        }
    </style>
</head>
<body>
Buenas tardes:
<br>
Previo cordial saludo a nombre de la Oficina de Seguimiento de Egresados OSE, e indicarles que la empresa <b>{{  announcement.company_pk.company_name }}</b> ,{{  announcement.company_pk.company_activity }} , se encuentra en búsqueda de un<b> EGRESADO y/o BACHILLER </b>   para asumir el reto de: <br>
<br>
{{ announcement.description}}
<ul>
    <li><b>INFORMACIÓN PARA POSTULAR</b></li>
    <li><b>Inicio de Convocatoria  </b>{{ announcement.date_start }}</li>
    <li><b>Fin de Convocatoria  </b>{{ announcement.date_end }}</li>
   
</ul>


<br>
Atentamente,
<br>
<img width="500px" src="https://ci5.googleusercontent.com/proxy/ijEE_0kRGOIBUHWrGj0lPkJgSoLVvIswbLBHb6Ost1deZWaH3dLFGqPbPixhXPxMdaNTxtv-Ndjwtpjx-siYdsNvVv4g83mDfGAyv9cq6GhR2CAGL6s67oK9UxZgCm5wHO8t=s0-d-e1-ft#https://drive.google.com/uc?id=1QkVNiPh_fducjvzA_QGw-ay-beP7XX0N&export=download" alt="Oficina de Seguimiento de Egresados">

</body>
</html>