<div class="body">
    <div class="content">
        <div class="image">
            <img src="assets/images/logo-granate-ose.png" alt="login-picture">
        </div>
        <div class="login_form">
            <div class="login_form_items">
                <h3 class="title">Registrarse</h3>

                <form [formGroup]="registerForm">

                    <div class="form-input">
                        <span>Nombre</span>
                        <input mat class="form-control" type="text" id="first_name" formControlName="first_name"
                            placeholder="Ingresa nombre">
                            
                        <div *ngIf="registerForm.get('first_name').errors && registerForm.get('first_name').touched">
                            <p *ngIf="registerForm.get('first_name').hasError('required')">
                                Este campo es requerido
                            </p>
                        </div>
                    </div>
                    <div class="form-input">
                        <span>Apellido</span>
                        <input type="text" id="last_name" formControlName="last_name" placeholder="Ingresa tu Apellido">
                        <div *ngIf="registerForm.get('last_name').errors && registerForm.get('last_name').touched">
                            <p *ngIf="registerForm.get('last_name').hasError('required')">
                                Este campo es requerido
                            </p>
                        </div>
                    </div>
                    <div class="form-input">
                        <span>Usuario</span>
                        <input type="text" id="username" formControlName="username" placeholder="Ingresa tu usuario">
                        <div *ngIf="registerForm.get('username').errors && registerForm.get('username').touched">
                            <p *ngIf="registerForm.get('username').hasError('required')">
                                Este campo es requerido
                            </p>
                        </div>
                        <div class="error" *ngIf=errorUser>
                            <p>
                             {{userError}}
                           </p>
                           </div> 
                    </div>
                    <div class="form-input">
                        <span>Contraseña</span>
                        <input type="password" id="password" formControlName="password"
                            placeholder="Ingresa tu contraseña">
                        <div *ngIf="registerForm.get('password').errors && registerForm.get('password').touched">
                            <p *ngIf="registerForm.get('password').hasError('required')">
                                Este campo es requerido
                            </p>
                        </div>
                    </div>
                    <div class="form-input">
                        <span>Email</span>
                        <input type="email" id="email" formControlName="email" placeholder="Ingresa tu email"
                            [class.is-danger]="registerForm.get('email').dirty && registerForm.get('email').invalid">
                        <div *ngIf="registerForm.get('email').errors && registerForm.get('email').touched">
                            <p *ngIf="valueGraduate&&isGraduate">
                                Su extención de correo debe ser: "@unsa.edu.pe"
                            </p>
                            <p *ngIf="!isGraduate">
                                La extención de correo debe ser: "example@ex.com"
                            </p>
                        </div>
                    </div>
                    <div class="habilSyle">

                        <mat-form-field>
                            <mat-select placeholder="Roles"   formControlName="group_id" (selectionChange)="onSelect($event.value)">
                                <mat-option>Roles</mat-option>
                                <ng-container *ngFor="let item of listRoles">
                                    <mat-option [value]=item.id>{{ item.name }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                    </div>
                  
                    <div class="buttons" style="margin-bottom:8%;">
                      
                            
                        <button type="button" (click)="register()" mat-raised-button color="primary"
                            [disabled]="registerForm.invalid">Siguiente</button>
                            <button type="button" (click)="back()"  style="background-color: white;
                            color:maroon;
                            border: 1px solid maroon; " mat-button>Cancelar</button>  
                    </div>
                    
                        
                </form>
            </div>
        </div>
    </div>
</div>