<div fxLayout="column">
   <div>
      <h2 mat-dialog-title fxFlex>
         <mat-icon style="vertical-align: middle; margin-bottom: 4px"
            >settings</mat-icon
         >
         {{ title }}
      </h2>
      <button [mat-dialog-close]="" class="close-dialog">
         <mat-icon style="vertical-align: middle; margin-bottom: 4px"
            >close</mat-icon
         >
      </button>
   </div>
   <mat-dialog-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
         <mat-form-field fxFlex appearance="outline">
            <mat-label>Buscar</mat-label>
            <input
               matInput
               [formControl]="searchCtrl"
               autocomplete="off"
               type="search"
            />
         </mat-form-field>
      </div>

      <div *ngIf="!dataSource" style="min-height: 60px">
         <mat-progress-spinner
            style="margin: 40px auto"
            [mode]="'indeterminate'"
         ></mat-progress-spinner>
      </div>
      <div fxLayout="column"  
         *ngIf="
            dataSource?.data &&
            dataSource?.data.length > 0 &&
            dataSource?.filteredData.length > 0
         "
         style="
            height: 400px;
            overflow: auto;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            background: #e0e0e040;
         "
      >
         <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select" *ngIf="checkbox">
               <th mat-header-cell *matHeaderCellDef style="padding: 15px">
                  <mat-checkbox
                     (change)="$event ? masterToggle() : null"
                     [checked]="selection.hasValue() && isAllSelected()"
                     [indeterminate]="selection.hasValue() && !isAllSelected()"
                     [aria-label]="checkboxLabel()"
                     [disabled]="progress > -1"
                  >
                  </mat-checkbox>
               </th>
               <td mat-cell *matCellDef="let row" style="padding: 15px">
                  <mat-checkbox
                     (click)="$event.stopPropagation()"
                     (change)="$event ? selection.toggle(row) : null"
                     [checked]="selection.isSelected(row)"
                     [aria-label]="checkboxLabel(row)"
                     [disabled]="progress > -1"
                  >
                  </mat-checkbox>
               </td>
            </ng-container>

            <ng-container
               *ngFor="let column of columns"
               [matColumnDef]="column.name"
               [sticky]="sticky"
            >
               <th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>
               <td mat-cell *matCellDef="let element">
                  {{ getCellValue(element, column.name) }}
               </td>
            </ng-container>

            <tr
               mat-header-row
               *matHeaderRowDef="displayColumns; sticky: true"
            ></tr>
            <tr
               mat-row
               *matRowDef="let row; columns: displayColumns"
               (click)="selection.toggle(row)"
            ></tr>
         </table>
      </div>
      <!--<p fxFlex>
         {{ selection?.selected.length }} selecionado{{
            selection?.selected.length > 1 ? 's' : ''
         }}
         de {{ dataSource?.data.length }} registros
      </p>-->
   </mat-dialog-content>
   <mat-dialog-actions fxLayout="row" style="padding: 12px 0;">
      <div fxFlex fxLayoutAlign="end center">
         <button mat-button mat-dialog-close>Cancelar</button>
         <button
            mat-raised-button
            color="primary"
            (click)="add()"
            [disabled]="
               progress > -1 ||
               !selection ||
               (selection && selection.selected.length === 0)
            "         >
            <div
               *ngIf="progress > -1"
               fxLayout="row"
               fxLayoutAlign="start center"
            >
               <span fxFlex>{{ progress }} registros adicionados de {{ selection?.selected.length }} restantes...</span>
               <mat-progress-spinner
                  style="margin-left: 5px"
                  [mode]="'indeterminate'"
                  [diameter]="20"
               ></mat-progress-spinner>
            </div>
            <span *ngIf="progress === -1">Seleccionar</span>
         </button>
      </div>
   </mat-dialog-actions>
</div>
