<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: xx-large">Listado de Roles</span>

      <button
        mat-raised-button
        class="demo-button"
        color="primary"
        routerLink="./nuevo"
        *ngIf="authUserService.checkPermissions('add_usergroup')"
      >
        Nuevo
      </button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. roles"
        #input
        autocomplete="off"
      />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column
    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> 1 </td>
    </ng-container>-->

    <!-- Weight Column -->
    <!--<ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>-->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Habilitado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.state ? "Si" : "No" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let element">
        <a class="pointer" style="color: #335b74" matTooltip="Editar Rol">
          <mat-icon
            (click)="edit(element)"
            *ngIf="
              authUserService.checkPermissions('change_usergroup');
              else noCan
            "
            >edit</mat-icon
          >
          <ng-template #noCan>-</ng-template>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
