<div class="container">
    <div class="action-superior">
      <div
        fxLayout="row"
        style="margin-bottom: 60px"
        fxLayoutAlign="space-between center"
      >
        <span style="font-size: xx-large">Carga de Usuarios Masivos</span>
      </div>
      <div fxFlex fxLayoutAlign="space-between center" style="margin-top: 80px">
        <div class="fline" fxLayout="row" fxflex fxLayoutGap="40px">
          <!-- <form [formGroup]="masiveUsersForm" class="wrap-form" autocomplete="off"> -->
            <input
              id="file"
              type="file"
              (change)="onFileChange($event)" />
          <!-- /form -->
        </div>
      </div>
      <div fxFlex fxLayoutAlign="end center" style="margin-top: 80px">
        <button
          *ngIf="authUserService.checkPermissions('add_area')"
          mat-raised-button
          class="demo-button"
          color="primary"
          routerLink="./nuevo"
          (click)="saveMasiveUsers()"
        >
          Guardar Lista de Usuarios
        </button>
      </div>
    </div>
    <span style="font-size: large; margin-bottom: 20px">Incidencias Encontradas</span>
    <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
      <ng-container matColumnDef="errors.full_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.full_name }}</td>
      </ng-container>
      <ng-container matColumnDef="errors.description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Incidencias</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
