<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{ dataGenerate ? "Editar Publicaciones" : "Agregar Publicaciones" }}</span>
    </mat-toolbar>
  </div>
  <div class="detail-jobs">
    <form [formGroup]="publicationsForm" class="wrap-form" autocomplete="off">
      <input type="hidden" formControlName="id" />
      <div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="legacy">
            <mat-select
              placeholder="Tipo de Publicación"
              formControlName="type_publication"
              [compareWith]="compareSelectedValue"
            >
              <ng-container *ngFor="let item of listTypePub">
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="legacy">
            <mat-label>Título</mat-label>
            <input
              formControlName="title"
              matInput
              placeholder="Titulo"
            />
          </mat-form-field>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="legacy">
            <mat-label>Descripción</mat-label>
            <input
              formControlName="description"
              matInput
              placeholder="Descripción"
            />
          </mat-form-field>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="legacy">
            <mat-label>Rol de Investigador</mat-label>
            <mat-select
              placeholder="Rol de Investigador"
              formControlName="function_type"
              [compareWith]="compareSelectedValue"
            >
              <ng-container *ngFor="let item of listFuncType">
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="legacy">
            <mat-label>DOI</mat-label>
            <input
              formControlName="DOI"
              matInput
              placeholder="DOI"
            />
          </mat-form-field>
        </div>
        <div class="habilSyle" fxLayout="row">
          <mat-form-field appearance="legacy">
            <mat-label>URL de Referencia</mat-label>
            <input
              formControlName="reference_url"
              matInput
              placeholder="URL de Referencia"
            />
          </mat-form-field>
        </div>
        <div class="actions" fxLayout="row">
          <div
            fxFlex
            fxLayout="row"
            fxLayoutAlign="end center"
            fxLayoutGap="15px"
          >
            <button (click)="cancelButton()" mat-stroked-button color="primary">
              Cancelar
            </button>
            <button (click)="save()" mat-raised-button color="primary">
              {{ dataGenerate ? "Confirmar cambios" : "Guardar Publicación" }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
