{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: white;
        }
        * {
            color: black;
        }
    </style>
</head>
<body>
Estimado usuario:
<br>
Tengo a bien dirigirme a ustedes para saludarlos y solicitar su colaboración para completar la siguiente encuesta:
<br>
<a href="{{ poll.link_poll }}">{{ poll.link_poll }}</a>
<br>
{% autoescape off %}{{ poll.description }}{% endautoescape %}
<br>
Para cualquier consulta e información que requiera, favor dirigirse y solicitarlo a través de nuestro correo electrónico institucional:  dude_ose@unsa.edu.pe

<br>
Atentamente, Oficina de Seguimiento de egresados y bolsa de trabajo.
<br>
</body>
</html>