<div fxLayout="column">
   <div>
      <h2 mat-dialog-title fxFlex>
         <mat-icon style="vertical-align: middle; margin-bottom: 4px">
            settings
         </mat-icon>
         {{ title }}
      </h2>
      <button [mat-dialog-close]="" class="close-dialog">
         <mat-icon style="vertical-align: middle; margin-bottom: 4px">
            close
         </mat-icon>
      </button>
   </div>
   <mat-dialog-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
         <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" appearance="outline" style="margin-right: 20px;">
            <mat-label>Buscar</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              #input
              type="search"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23%" fxFlex.lg="23%" appearance="fill" style="padding-top: 1rem; margin-right: 20px;">
            <mat-label>Escuela Profesional</mat-label>
            <mat-select (selectionChange)="onSelectProgram($event.value)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let program of listProgram" [value]=program.id>
                {{program.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23%" fxFlex.lg="23%" appearance="fill" style="padding-top: 1rem; margin-right: 20px;">
            <mat-label>Facultad</mat-label>
            <mat-select (selectionChange)="onSelectFaculty($event.value)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let faculty of listFaculty" [value]=faculty.id>
                {{faculty.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23%" fxFlex.lg="23%" appearance="fill" style="padding-top: 1rem; margin-right: 20px;">
            <mat-label>Area</mat-label>
            <mat-select (selectionChange)="onSelectArea($event.value)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let area of listArea" [value]=area.id>
                {{area.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div *ngIf="!dataSource" style="min-height: 60px">
         <mat-progress-spinner
            style="margin: 40px auto"
            [mode]="'indeterminate'"
         ></mat-progress-spinner>
      </div>
      <div fxLayout="column"  
         *ngIf="
            dataSource?.data &&
            dataSource?.data.length > 0 &&
            dataSource?.filteredData.length > 0
         "
         style="
            height: 400px;
            overflow: auto;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            background: #e0e0e040;
         "
      >
         <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
         <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select" *ngIf="checkbox">
               <th mat-header-cell *matHeaderCellDef style="padding: 15px">
                  <mat-checkbox
                     (change)="$event ? masterToggle() : null"
                     [checked]="selection.hasValue() && isAllSelected()"
                     [indeterminate]="selection.hasValue() && !isAllSelected()"
                     [aria-label]="checkboxLabel()"
                     [disabled]="in_progress"
                  >
                  </mat-checkbox>
               </th>
               <td mat-cell *matCellDef="let row" style="padding: 15px">
                  <mat-checkbox
                     (click)="$event.stopPropagation()"
                     (change)="$event ? selection.toggle(row) : null"
                     [checked]="selection.isSelected(row)"
                     [aria-label]="checkboxLabel(row)"
                     [disabled]="in_progress"
                  >
                  </mat-checkbox>
               </td>
            </ng-container>

            <ng-container
               *ngFor="let column of columns"
               [matColumnDef]="column.name"
               [sticky]="sticky"
            >
               <th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>
               <td mat-cell *matCellDef="let element">
                  {{ getCellValue(element, column.name) }}
               </td>
            </ng-container>

            <tr
               mat-header-row
               *matHeaderRowDef="displayColumns; sticky: true"
            ></tr>
            <tr
               mat-row
               *matRowDef="let row; columns: displayColumns"
               (click)="selection.toggle(row)"
            ></tr>
         </table>
         <div *ngIf="totalSize === 0">No hay usuarios egresados disponibles</div>
         <mat-paginator #paginator
            showFirstLastButtons
            [length]="totalSize"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            [pageIndex]="currentPage"
            (page)="handlePage($event)"
         >
         </mat-paginator>
      </div>
      <!--<p fxFlex>
         {{ selection?.selected.length }} selecionado{{
            selection?.selected.length > 1 ? 's' : ''
         }}
         de {{ dataSource?.data.length }} registros
      </p>-->
   </mat-dialog-content>
   <mat-dialog-actions fxLayout="row" style="padding: 12px 0;">
      <div fxFlex fxLayoutAlign="end center">
         <!--button mat-button mat-dialog-close>Cerrar</button-->
         <button
            mat-raised-button
            color="primary"
            (click)="add()"
            [disabled]="
               in_progress ||
               !selection ||
               (selection && selection.selected.length === 0)
            "         >
            <div
               *ngIf="in_progress"
               fxLayout="row"
               fxLayoutAlign="start center"
            >
               <span fxFlex>Registrando {{ selection?.selected.length }} usuarios ...</span>
               <mat-progress-spinner
                  style="margin-left: 5px"
                  [mode]="'indeterminate'"
                  [diameter]="20"
               ></mat-progress-spinner>
            </div>
            <span *ngIf="!in_progress">Seleccionar</span>
         </button>
      </div>
   </mat-dialog-actions>
</div>
