.container{
   width:98%;
 }
.container-principal{
   margin:3%;
   width:95%; 
}
form.normal-form{
   margin-right:3rem;
   margin-left:2rem;
}
.myContainer {
   display: flex;
   flex-direction: column;
   padding-left:2rem auto;
   padding-right:2rem auto;
}
.style-field{
   margin-top:2rem;
}