<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>{{ modeEdit ? "Editar Identificador" : "Agregar Identificador" }}</span>
    </mat-toolbar>
  </div>
  <form [formGroup]="identifierForm" class="normal-form">
    <div class="myContainer">
      <input type="hidden" formControlName="id" />
      <mat-form-field>
        <input formControlName="name" maxlength="500" matInput placeholder="Nombre" />
        <mat-error>Este campo es obligatorio..</mat-error>
      </mat-form-field>
      <mat-form-field class="style-field">
        <input formControlName="code" maxlength="20" matInput placeholder="Código" />
        <mat-error>Este campo es obligatorio..</mat-error>
      </mat-form-field>
      <mat-form-field class="style-field">
        <input type="number" min="1" max="50" step="1" formControlName="max_length" matInput placeholder="Longitud Máxima" />
        <mat-error>Este campo es obligatorio, máximo 50 , sólo números positivos enteros..</mat-error>
      </mat-form-field>
      <mat-form-field class="style-field">
        <mat-select formControlName="alphabet" maxlength="30" name="Alfabeto">
          <mat-option *ngFor="let a of listAlphabet" [value]="a.value">
            {{a.text}}
          </mat-option>
        </mat-select>
        <mat-error>Este campo es obligatorio..</mat-error>
      </mat-form-field>
      <!--mat-checkbox formControlName="is_active" class="style-field">Enabled</mat-checkbox-->
      <div class="actions" fxLayout="row">
        <div fxLayout="row" *ngIf="identifierForm.value.id">
          <button
            *ngIf="identifierForm.value.id"
            (click)="removeAction()"
            mat-button
            color="warn"
          >
            Eliminar
          </button>
        </div>
        <div
          fxFlex
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="15px"
        >
          <button (click)="cancel()" mat-stroked-button color="primary">
            Cancelar
          </button>
          <button (click)="save()" mat-raised-button color="primary">
            {{ modeEdit ? "Confirmar cambios" : "Crear Identificador" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
