<div class="body">
    <div class="content">
        <div class="image">
            <img src="assets/images/logo-granate-ose.png" alt="login-picture">
        </div>
        <div class="login_form">
            <div class="login_form_items">
                <h3 class="title">Resetear Contraseña</h3>
                <form [formGroup]="resetPasswordForm">
                  <div class="form-input">
                    <span>Contraseña</span>
                    <input type="password" id="password" formControlName="password"  placeholder="Ingresa tu contraseña">
                  </div>
                  <div class="buttons " style="margin-top: 8%;">
                    <button type="button" (click)="resetPassword()" mat-raised-button color="primary"  [class.spinner]="loading" [disabled]="loading"  [disabled]="resetPasswordForm.invalid">Resetear Contraseña</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
