<div fxLayout="column">
  <div>
    <h2 mat-dialog-title fxFlex>
      Validar Convocatoria
    </h2>
    <button [mat-dialog-close]="" class="close-dialog">
      <mat-icon style="vertical-align: middle; margin-bottom: 4px"
        >close</mat-icon
      >
    </button>
  </div>
  <mat-dialog-content>
    <div class="content">
      <h1>{{data.annoucementObj.name}}</h1>
      <div class="imgContainer">
        <img src="{{data.annoucementObj.extra_file}}">
      </div>
      <p><b>Compañía: </b>{{data.annoucementObj.company_pk.company_name}}</p>
      <p><b> Descripción: </b></p>
      <h3 [innerHTML]="data.annoucementObj.description"></h3>
      <p><b> <mat-icon>calendar_today</mat-icon> Fecha de Inicio: </b>{{data.annoucementObj.date_start.substr(0,10)}}</p>
      <p><b> <mat-icon>calendar_today</mat-icon> Fecha de Fin: </b>{{data.annoucementObj.date_end.substr(0,10)}}</p>
      <form [formGroup]="annoucementForm" class="wrap-form" autocomplete="off">
        <!-- <div class="ck-form-control-wrap">
          <mat-label style="font-weight: bold;">Justificación</mat-label>
          <ckeditor
            [config]="editorConfig"
            [editor]="editor"
            formControlName="justification"
          ></ckeditor>
        </div> -->
        <mat-form-field style="display: block" appearance="outline">
          <mat-label>Justificación</mat-label>
          <textarea matInput formControlName="justification"></textarea>
       </mat-form-field>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="discardAnnoucement(data.annoucementObj.id)">
      Rechazar
    </button>
    <button mat-button (click)="confirmAnnoucement(data.annoucementObj.id)" color="primary">
      Confirmar
    </button>
  </mat-dialog-actions>
</div>
