<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: xx-large"
        >Solicitudes de Creación de Usuarios</span
      >
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. sociales"
        #input
        autocomplete="off"
      />
    </mat-form-field>
    <div class="habilSyle">
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar rol a filtrar</mat-label>
        <mat-select (selectionChange)="onSelect($event.value)">
      <mat-option [value]=all>Todos</mat-option>
      <mat-option *ngFor="let habilit of listRoles" [value]=habilit.id>
        {{habilit.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="demo-table" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nombre y Apellidos
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.user.first_name }} {{ element.user.last_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.state ? "Creado" : "Pendiente" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acción</th>
      <td mat-cell *matCellDef="let element">
        <a class="pointer" style="color: #335b74" matTooltip="Ver Solicitud">
          <mat-icon style="cursor: pointer" (click)="openDialog(element)">
            visibility
          </mat-icon>
          <ng-template #noCan>-</ng-template>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
