<div class="container-principal">
    <div class="container">
      <mat-toolbar>
        <span>{{program ? "Editar Programa Profesional" : "Agregar Programa Profesional"}}</span>
      </mat-toolbar>
    </div>
    <div class="detail-area">
      <form [formGroup]="programForm" class="wrap-form" autocomplete="off">
        <div>
          <input type="hidden" formControlName="id" />
        
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input formControlName="name" matInput placeholder="Nombre" />
            </mat-form-field>
          </div>
  
         
        </div>
        <div class="habilSyle"  fxLayout="row">
          <mat-form-field appearance="fill">
            <mat-label>Seleccionar Facultad</mat-label>
            <mat-select  placeholder="Seleccionar Facultad" (selectionChange)="onSelect($event.value)" formControlName="faculty_field">
          <mat-option *ngFor="let listFacult of listFaculty" [value]="listFacult.id">
            {{listFacult.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!--
          <div class="fline" fxLayout="row" fxflex>
            <mat-checkbox formControlName="is_active">Habilitado</mat-checkbox>
          </div>
      -->   
  
          <div class="actions" fxLayout="row">
            <div fxLayout="row" *ngIf="programForm.value.id">
              <button
                *ngIf="programForm.value.id"
                (click)="removeAction()"
                mat-button
                color="warn"
              >
                Eliminar
              </button>
            </div>
            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="end center"
              fxLayoutGap="15px"
            >
              <button (click)="cancel()" mat-stroked-button color="primary">
                Cancelar
              </button>
              <button
                (click)="save()"
                mat-raised-button
                color="primary"
              >
                {{program ? "Confirmar cambios"  : "Crear Programa Profesional"}}
              </button>
            </div>
          </div>
     
      </form>
    </div>
  </div>
  