*{
    font-family: 'Roboto';
}
.body{
    position: absolute;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.content{
    background-color: white;
    position: relative;
    height: 90%;
    width: 90%;
    left: 5%;
    top: 5%;
    border: #6a6a6a 1px solid;
    border-radius: 20px ;
    display: flex;
}
.content .image{
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
}
.content .image img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.content .login_form{
    
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content .login_form .login_form_items{
    width: 60%;
    margin-top: 2%;
}

.content .login_form .login_form_items h3{
    
    border-bottom: 4px solid #5c1b26;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.content .login_form .login_form_items .form-input{
    margin-bottom: 10px;
}
.content .login_form .login_form_items .form-input p{
    color : red;
    font-size: 11spx;
}

.content .login_form .login_form_items .form-input span{
    font-size: 12px;
    margin-bottom: 3px;
    display:inline-block;
    font-weight: 300;
    letter-spacing: 1px;
}

.content .login_form .login_form_items .form-input input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid black;
    font-size: 12px;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 10px;
}
.content .login_form .login_form_items .buttons{
    text-align: center;
    margin-bottom: 10%;
    margin-left: 12%;
    margin-top: 3%;
}
.content .login_form .login_form_items .buttons button{
    width: 48%;
   // outline: none;
    text-align: center;
    background-color:primary;
    color: white;
    border-radius: 10px;
    border: 1px solid #4e040a;
    margin-left: 2%;
    //margin-bottom: 40px;
  //  margin-top: 12px;
    
}

.content .login_form .login_form_items .linkPass{
    width: 100%;
    margin-left: 30%;
}

.content .login_form .login_form_items .buttons button:hover{
    background-color: rgb(128, 73, 73);
    color:white;
    border-radius: 10px;
    border: 1px solid #8a5e6b;
    cursor:   pointer  ;
    
}
button:disabled{
    background-color:#DA8895;
    border: 1px solid #DA8895;
}


button:disabled:hover{
    color: white;
}
.alert-danger{
    font-size: 0.8em;
    color: red;
    text-align: justify;
}
a{
    text-decoration: none;
    color: #5c1b26;
}
.title{
    margin: 1em;
    text-align: center;
}
.login_form_items{
    width: 100%;
}
a{
    cursor: pointer;
}
.text-content{
    margin: 1.5em;
    font-size: 1.5ch;
    text-align: justify;
}


.habilSyle{
    width:110%;


mat-form-field {
width:100%;

}
}

@media  screen and (max-width: 1024px) {
    .content .login_form{
        padding-left: 0.0em;
    }
}

@media  screen and (max-width: 900px) {
    .content .login_form{
        padding-left: 2em;
        width: 75%;
    }
    .content .image {
        width: 25%;
    }
}

@media  screen and (max-width: 700px) {
    .content .login_form{
        padding-left: 0em;
    }
}

@media  screen and (max-width: 600px) {
    .content .login_form{
        padding-left: 2em;
        width: 100%;
    }
    .content .image {
        width: 0%;
    }
}

@media  screen and (max-width: 500px) {
    .content .login_form{
        padding-left: 0em;
    }
}

@media  screen and (max-width: 450px) {
    .content .login_form{
        padding-left: 2em;
    }

    .content{
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0%;
        top: 0%;
        border: #6a6a6a 0px solid;
        border-radius: 0px ;
    }
}
@media  screen and (max-width: 400px) {
    .content .login_form{
        padding-left: 0em;
        padding-right: 0em;
    }
}