<div class="body">
  <div class="content">
      <div class="image">
          <img src="assets/images/logo-granate-ose.png" alt="login-picture">
      </div>
      <div class="login_form">
          <div class="login_form_items" style="font-size: 12px">
              <h3 class="title">Registrarse Administrador</h3>
              <form [formGroup]="registerAdminForm" >

                  <div class="form-input">
                      <span>Celular </span>
                      <input  class="form-control" max="999999999"  min="111111111" type="number" id="cell_phone" formControlName="cell_phone" placeholder="Ingresa Celular" required="required"
                      >
                      <div *ngIf="registerAdminForm.get('cell_phone').errors && registerAdminForm.get('cell_phone').touched">
                        <p *ngIf="registerAdminForm.get('cell_phone').hasError('min')">
                            Este campo debe tener 9 dígitos e iniciar con 9
                        </p>
                    </div>
                    <div *ngIf="registerAdminForm.get('cell_phone').errors && registerAdminForm.get('cell_phone').touched">
                      <p *ngIf="registerAdminForm.get('cell_phone').hasError('max')">
                          Este campo no debe exceder los 9 dígitos
                      </p>
                  </div>
                  <div *ngIf="registerAdminForm.get('cell_phone').errors && registerAdminForm.get('cell_phone').touched">
                    <p *ngIf="registerAdminForm.get('cell_phone').hasError('required')">
                        Este campo es requerido
                    </p>
                </div>
                   </div>
                   <div class="form-input">
                      <span>Telefono</span>
                      <input  class="form-control" max="999999"  min="111111" type="number" id="phone" formControlName="phone" placeholder="Ingresa Telefono" required="required"
                      >
                      <div *ngIf="registerAdminForm.get('phone').errors && registerAdminForm.get('phone').touched">
                        <p *ngIf="registerAdminForm.get('phone').hasError('min')">
                            Este campo debe tener 6 dígitos
                        </p>
                    </div>
                    <div *ngIf="registerAdminForm.get('phone').errors && registerAdminForm.get('phone').touched">
                      <p *ngIf="registerAdminForm.get('phone').hasError('max')">
                          Este campo no debe exceder los 6 dígitos
                      </p>
                  </div>
                  <div *ngIf="registerAdminForm.get('phone').errors && registerAdminForm.get('phone').touched">
                    <p *ngIf="registerAdminForm.get('phone').hasError('required')">
                        Este campo es requerido
                    </p>
                </div>
                   </div>
                   <div class="habilSyle">
                    
                    <mat-form-field>
                        <mat-select placeholder="Identificador"  (selectionChange)="onSelectIdent($event.value)">
                          <mat-option>Identificador</mat-option>
                          <ng-container *ngFor="let item of listIdentifier">
                            <mat-option value="{{ item.id }}">{{ item.name }}</mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                </div>
                  <div class="form-input">
                     <span>Documento</span>
                     
                     <input  class="form-control"   type="{{typeDoc}}" id="document" formControlName="document" placeholder="Ingresa Documento" required >
                     <div *ngIf=errorDocument>
                     <p>
                      {{documentError}}
                    </p>
                    </div>                 
                     <div *ngIf="registerAdminForm.get('document').errors && registerAdminForm.get('document').touched">
                      <p *ngIf="registerAdminForm.get('document').hasError('required')">
                        Este campo es requerido
                      </p>
                  </div>
                    </div>
                
  
                  <div class="habilSyle">
                    
                      <mat-form-field>
                          <mat-select placeholder="Puesto de Trabajo"  (selectionChange)="onSelectJob($event.value)">
                            <mat-option>Puesto de Trabajo</mat-option>
                            <ng-container *ngFor="let item of listJobs">
                              <mat-option value="{{ item.id }}">{{ item.name }}</mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="habilSyle">
                    
                      <mat-form-field>
                          <mat-select placeholder="Tipo de Empleado"  (selectionChange)="onSelectEmpl($event.value)">
                            <mat-option>Tipo de Empleado</mat-option>
                            <ng-container *ngFor="let item of listEmployee">
                              <mat-option value="{{ item.id }}">{{ item.name }}</mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="habilSyle">
                    
                      <mat-form-field>
                          <mat-select placeholder="Programa Profesional"  (selectionChange)="onSelectProg($event.value)">
                            <mat-option>Programa Profesional</mat-option>
                            <ng-container *ngFor="let item of listProgram">
                              <mat-option value="{{ item.id }}">{{ item.name }}</mat-option>
                            </ng-container>
                          </mat-select>
                        </mat-form-field>
                  </div>
                <div class="buttons">

                  <button type="button" (click)="back()"  style="background-color: white;
                  color:maroon;
                  border: 1px solid maroon;" mat-button>Atrás</button>   
               

                  <button type="button" (click)="register()" mat-raised-button color="primary" [disabled]="registerAdminForm.invalid">Guardar</button>   
                </div>
              </form>
          </div>
      </div>
  </div>
</div>
