.close-dialog {
  width: 20px;
  height: 20px;
  margin: 0px -5px;
  background: none;
  border: none;
  outline: none;

  &:hover {
    background: #fafafa;
    cursor: pointer;
    border-radius: 100%;
  }
}
.imgContainer {
  text-align: center;
}
.imgContainer > img{
  text-align: center;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.mat-dialog-content .content > img {
  text-align: center;
  align-content: center;
  object-fit: cover;
  align-content: center;
  border-radius: 30px;
}

mat-dialog-actions {
  justify-content: end;
}

h2 { margin: 0 }
table {
  width: 100%;

  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    max-width: 260px;
  }
}
