<div fxLayout="column">
  <div>
    <h2 mat-dialog-title fxFlex>
      ¿Estas seguro que deseas validar esta actividad?
    </h2>
    <button [mat-dialog-close]="" class="close-dialog">
      <mat-icon style="vertical-align: middle; margin-bottom: 4px"
        >close</mat-icon
      >
    </button>
  </div>
  <mat-dialog-content>
    <div class="content">
      <h1>{{data.activityObj.title}}</h1>
      <div class="imgContainer">
        <img src="{{data.activityObj.image}}" alt="Imagen">
      </div>
      <p><b> Descripción: </b></p>
      <h3 [innerHTML]="data.activityObj.description"></h3>
      <p><b> Tipo de Actividad: </b>{{data.activityObj.activity_type.name}}</p>

      <p><b> <mat-icon>calendar_today</mat-icon> Fecha de Inicio: </b>{{data.activityObj.start_date.substr(0,10)}}</p>
      <p><b> <mat-icon>calendar_today</mat-icon> Fecha de Fin: </b>{{data.activityObj.end_date.substr(0,10)}}</p>
      <p><b> Link de la Reunión: </b>{{data.activityObj.stream_link}}</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="discardActivity(data.activityObj.id, data)">Rechazar</button>
    <button mat-button (click)="confirmActivity(data.activityObj.id)" color="primary">
      Confirmar
    </button>
  </mat-dialog-actions>
</div>
