<mat-toolbar>
    <!--  <img class="logo_university" src="../../assets/images/logo-granate-ose.png" alt="ga">-->
  <img class="logo_university" src="../../assets/images/logo-blanco-ose.png" alt="ga">
    <span class="example-spacer"></span>
    <a routerLink="/cliente/home">
    <button mat-button>Inicio</button>
    </a>
    <a routerLink="/cliente/convocatorias">
        <button mat-button>Convocatorias</button>
    </a>
    <a routerLink="/cliente/actividades">
        <button mat-button>Actividades</button>
    </a>
    <a routerLink="/cliente/ayuda">
        <button mat-button>Ayuda</button>
    </a>
    <button class="home" *ngIf="this.storage !== null">
      <mat-icon>home</mat-icon>
      <span [routerLink]="['/admin']"> Administración </span>
    </button>
  <button class="logout" routerLink="/login" *ngIf="this.storage === null">
    <mat-icon>login</mat-icon>
    <span> Iniciar Sesión</span>
  </button>
    <button class="logout" *ngIf="this.storage !== null">
      <mat-icon>logout</mat-icon>
      <span
      (click)="onLogout()"
      >Cerrar Sesión </span>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <router-outlet></router-outlet>
  </mat-sidenav-container>


