*:after{

  background-color: #590219;
    height: 3px;
    width:0;
    left:0;
    bottom: -6px;
}

mat-toolbar {
    background: #e7e7e7;
    color: black;
  }
  mat-toolbar a:active {

    position: relative;
  }
  a{
    position: relative;
    padding: 0 10px;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: black;

  }

  a:after{
    content:"";
    position: absolute;
    text-decoration: none;
    background-color: #590219; //Color de seleccion
    height: 3px;
    width:0;
    left:0;
    bottom: -6px;
  }
  a:hover::after{
    width:100%;
 //   background-color: #590219;
  }



  .mat-button:hover{
    background: rgb(255, 255, 255); //Celda
  }
  .mat-button:focus{
    background: rgb(255, 255, 255);
  }
  a:focus{
    content:"";
    position: absolute;
    text-decoration: none;
    background-color: #590219; //Color de seleccion
    height: 3px;
    width:0;
    left:0;
    bottom: -6px;
  }

  mat-sidenav {
    margin: 16px;
    width: 250px;
    border-right: none;
    background: #590219;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }

  .content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px 16px 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-sidenav-container {
    height: calc(100vh - 65px);
  }

  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
      margin-right: 8px;
    }
  }
  .menu-button:focus{
    background: #5E1C2F;
  }

  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  .logo_university{
    width: 70px;
    height: 50px;
  }

  .designation {
    font-size: 15px;
    color: lightgrey;
  }

  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .example-spacer {
    flex: 1 1 auto;
  }
.logout {
  vertical-align: middle;
  color: #ffffff;
  border: none;
  background-color: #590219;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 20px;
  margin-right: 10px;
  margin-left: 30px;
}
.logout:hover {
  background-color: #5E1C2F;
}
.home {
  vertical-align: middle;
  color: #590219;
  border: 2px solid #590219;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 20px;
  margin-right: 10px;
  margin-left: 30px;
}
.home:hover {
  color: #dc295a;
  border: 2px solid #dc295a;
}
  mat-icon,span{
    vertical-align: middle;
  }
