<div class="container-principal">
    <div class="container">
      <mat-toolbar>
        <span>{{poll ? "Editar Encuesta" : "Agregar Encuesta"}}</span>
      </mat-toolbar>
    </div>
    <div class="detail-manual">
      <form [formGroup]="pollForm" class="wrap-form" autocomplete="off">
        <div>
          <input type="hidden" formControlName="id" />
        
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input formControlName="name" matInput placeholder="Título" />
            </mat-form-field>
          </div>
        
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input
                formControlName="link_poll"
                matInput
                placeholder="Link"
                autocomplete="off"
                type="search"
              />
            </mat-form-field>
          </div>
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input type="number"formControlName="period_days" matInput placeholder="Periodo de Días" />
            </mat-form-field>
          </div>
          <div class="ck-form-control-wrap fline">
            <ckeditor
              [config]="editorConfig"
              [editor]="editor"
              formControlName="description"
            ></ckeditor>
          </div>
       
          <div class="fline" fxLayout="row" fxflex>
            <mat-checkbox formControlName="is_to_company">Dirigido a Empresas</mat-checkbox>
          </div>
          <div class="fline" fxLayout="row" fxflex>
            <mat-checkbox formControlName="is_to_graduate">Dirigido a Egresados</mat-checkbox>
          </div>
  
          <div class="actions" fxLayout="row">
          
            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="end center"
              fxLayoutGap="15px"
            >
              <button (click)="cancel()" mat-stroked-button color="primary">
                Cancelar
              </button>
              <button
                (click)="save()"
                mat-raised-button
                color="primary"
              >
                {{poll ? "Confirmar cambios"  : "Crear Encuesta"}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  