<div fxLayout="column">
  <div>
    <h2 mat-dialog-title fxFlex>
      ¿Estas seguro que deseas validar al usuario?
    </h2>
    <button [mat-dialog-close]="" class="close-dialog">
      <mat-icon style="vertical-align: middle; margin-bottom: 4px"
        >close</mat-icon
      >
    </button>
  </div>
  <mat-dialog-content>
    <div class="content" *ngIf="value_profile_company">
      <p><b>---------------------DATOS USUARIO-------------------------</b></p>
    </div>
    <div class="content">
      <p><b> Nombre(s): </b>{{data.aux.first_name}}</p>
      <p><b> Apellido(s): </b>{{data.aux.last_name}}</p>
      <p><b> Usuario: </b>{{data.aux.username}}</p>
      <p><b> Correo electrónico: </b>{{data.aux.email}}</p>
      <p><b> Rol: </b>{{data.aux.groups[0].name}}</p>
      <p><b> Celular :</b>{{data.aux.profile.cell_phone}}</p>
    </div>
    <div class="content" *ngIf="value_profile_admin">
      <p><b> Programa Profesional: </b>{{data.aux.profile.instance.name}}</p>
      <p>
        <b> Fecha de Solicitud: </b> {{data.date_joined| date:'yyyy/MM/dd
        HH:mm:ss'}}
      </p>
    </div>
    <div class="content" *ngIf="value_profile_company">
      <p>
        <b> {{data.aux.profile.identificator.name}} : </b
        >{{data.aux.profile.document}}
      </p>
      <p><b>---------------------DATOS EMPRESA------------------------</b></p>
      <p><b> Nombre Empresa: </b>{{data.aux.profile.company.company_name}}</p>
      <p><b> Razon Social: </b>{{data.aux.profile.company.social_reason}}</p>
      <p>
        <b> {{data.aux.profile.company.identificator.name}}:</b
        >{{data.aux.profile.company.ruc}}
      </p>
      <p>
        <b> Fecha de Solicitud: </b> {{data.date_joined| date:'yyyy/MM/dd
        HH:mm:ss'}}
      </p>
    </div>
    <div class="content" *ngIf="value_profile_graduate">
      <p>
        <b> {{data.aux.profile.identificator.name}}:</b
        >{{data.aux.profile.document}}
      </p>
      <p><b> CUI :</b>{{data.aux.profile.cui}}</p>
      
    
      <p><b> Es persona con discapacidad :</b>{{is_dcp}}</p>
      <p *ngIf="is_dcp_value"><b> Tipo de discapacidad :</b>{{data.aux.profile.description_dcp}}</p>
        <p><b> Fecha de Nacimiento :</b>{{data.aux.profile.date_birthday| date:'yyyy/MM/dd'}}</p>
        <p>
        <b> Fecha de Solicitud: </b> {{data.date_joined| date:'yyyy/MM/dd
        HH:mm:ss' }}
      </p>
    </div>
    <div class="content" *ngIf="value_without_profile">
      <p>
        <b> Fecha de Solicitud: </b> {{data.date_joined| date:'yyyy/MM/dd
        HH:mm:ss'
      </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="discardUser(data.id, data)">Rechazar</button>
    <button mat-button (click)="confirmUser(data.id)" color="primary">
      Confirmar
    </button>
  </mat-dialog-actions>
</div>
