.close-dialog {
  width: 40px;
  height: 40px;
  margin: 0px -5px;
  background: none;
  border: none;
  outline: none;

  &:hover {
    background: #fafafa;
    cursor: pointer;
    border-radius: 100%;
  }
}

mat-dialog-actions {
  justify-content: end;
}

h2 { margin: 0 }
table {
  width: 100%;

  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    max-width: 260px;
  }
}
