<ng-container
  *ngIf="showView; then showTable; else showForm">
</ng-container>

<ng-template #showTable>
  <table-view-simple
    [title]="'Listado de datos académicos'"
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [data]="data"
    [loading]="loading"
    [totalSize]="totalSize"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (formCallEvent)="showFormItem($event)"
    (formDataCallEvent)="getDataItem($event)"
    (deleteCallEvent)="deleteItem($event)"
    (paginationEvent)="changePagination($event)"
  >
  </table-view-simple>
</ng-template>

<ng-template #showForm>
  <mat-toolbar>
    <span>{{modoEdit ? "Editar registro académico" : "Agregar registro académico"}}</span>
  </mat-toolbar>
  <form [formGroup]="form" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <mat-select
        required
        formControlName="type"
      >
        <mat-option value="is_student"> Estudiante </mat-option>
        <mat-option value="is_graduate"> Egresado </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Campus</mat-label>
      <mat-select
        required
        formControlName="campus_pk"
      >
        <mat-option
          *ngFor="let campus of campusList"
          [value]="campus.id"
        >
          {{campus.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Escuela Profesional</mat-label>
      <mat-select
        required
        formControlName="profesional_program_pk"
      >
        <mat-option
          *ngFor="let program of programList"
          [value]="program.id"
        >
          {{program.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="form.value.type === 'is_graduate'">
      <mat-label>Año de graduación</mat-label>
      <mat-select
        formControlName="year_graduate"
      >
        <mat-option
          *ngFor="let year of years"
          [value]="year"
        >
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="form.value.type === 'is_student'">
      <mat-label>Año de universidad</mat-label>
      <mat-select formControlName="year_of_university_studies">
        <mat-option
          *ngFor="let year of yearsUniversity"
          [value]="year"
        >
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="form.value.type === 'is_graduate'">
      <mat-label>Periodo</mat-label>
      <mat-select
        formControlName="period_graduate"
      >
        <mat-option value="A"> A </mat-option>
        <mat-option value="B"> B </mat-option>
        <mat-option value="C"> C </mat-option>
        <mat-option value="D"> D </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Preguntas de Egresado</mat-label>
      <mat-select
        required
        multiple
        formControlName="graduate_questions"
      >
        <mat-option
          *ngFor="let graduated of graduatedQuestionList"
          [value]="graduated.id"
        >
          {{graduated.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="actions" fxLayout="row">
      <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="15px"
      >
        <button
          (click)="cancel()"
          mat-stroked-button
          color="primary"
        >
          Cancelar
        </button>
        <button
          (click)="save()"
          mat-raised-button
          color="primary"
        >
         {{modoEdit ? "Confirmar cambios"  : "Crear"}}
        </button>
      </div>
    </div>
  </form>
</ng-template>
