.container{

    width:98%;
}
 .container-principal{
    margin:3%;
    width:95%;
 
 }
 .container2{

   margin:2%;
   
   width:94%;

}
.mat-stepper-vertical {
   margin-top: 8px;
 }
 
 .mat-form-field {
   margin-top: 16px;
   width: 100%;
 }

 .button-style{
   margin-top: 5%;
   
 }

 button{
   background-color: #F2F4F4 ;
 }
 .picture{
   margin-top: 3%;
   margin-bottom: 3%;
 }
 
 /*
 form.normal-form{
    margin:10px;
 }
 .controles-container{
    width:100%;
    padding:5%;
 }
 .controles-container > * {
    width:100%; 
    
 }
 .add-bottom-padding {
    width:100%; 
    margin-top: 5%;
    margin-bottom:5%;
    
 }
 .button-row button{
    margin-top: 10%;
    margin-left: 15%;
 }*/