<div class="container-principal">
  <div class="container">
    <mat-toolbar>
      <span>Editar mi usuario egresado</span>
    </mat-toolbar>
  </div>
  <button
    style="margin-left: 30px"
    mat-flat-button
    color="primary"
    (click)="disabledAccount()"
  >
    Deshabilitar Cuenta
  </button>
  <div class="container2">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="userGraduateForm">
        <form [formGroup]="userGraduateForm">
          <ng-template matStepLabel>Editar datos usuario</ng-template>
          <mat-form-field appearance="legacy">
            <input formControlName="first_name" matInput placeholder="Nombre" />
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <input
              formControlName="last_name"
              matInput
              placeholder="Apellido"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-select
              placeholder="Identificador"
              (selectionChange)="onSelectIdent($event.value)"
              formControlName="identificator"
            >
              <mat-option>Identificador</mat-option>
              <ng-container *ngFor="let item of listIdentifier">
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Documento</mat-label>
            <input
              matInput
              formControlName="document"
              placeholder="Ex. document"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input
              matInput
              formControlName="address"
              placeholder="Ex. document"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Celular</mat-label>
            <input
              matInput
              formControlName="cell_phone"
              placeholder="Ex. 999888777"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              formControlName="phone"
              placeholder="Ex. 668855"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>CUI</mat-label>
            <input
              matInput
              formControlName="cui"
              placeholder="Ex. 20110000"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email Opcional</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="Ex. 20110000"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha Nacimiento</mat-label>
            <input
              type="date"
              matInput
              formControlName="date_birthday"
              placeholder="Ex. YYYY-MM-DD"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Sitio Web</mat-label>
            <input
              matInput
              formControlName="web"
              placeholder="Ex. www.misitio.com"

            />
          </mat-form-field>

          <mat-form-field appearance="fill"  style="margin-bottom: 4%;">
            <mat-label>Seleccionar género</mat-label>
            <mat-select
              formControlName="gender"
              (selectionChange)="onSelectGender($event.value)"
            >
              <mat-option *ngFor="let gender of gender" [value]="gender.id">
                {{ gender.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-label style="margin-top: 10%;margin-bottom: 10%;">Egresado con Discapacidad:
            <mat-radio-group aria-label="Select an option"  (change)="radioButton($event)" >
              <mat-radio-button class="example-radio-button" *ngFor="let list of dcpList" [value]="list.id" style="margin-right: 3%;margin-left:3%;" [checked]="list.value">
                {{list.name}}
              </mat-radio-button>
            </mat-radio-group>
        </mat-label>
        <mat-form-field >
          <mat-label>Descripcion</mat-label>
          <input

            matInput
            formControlName="description_dcp"
            placeholder="Ex. Discapacidad"

          />
        </mat-form-field>
          <div class="picture">
            <mat-label>Cambiar foto</mat-label><br />
            <input type="file" (change)="onFileChangePicture($event)" />
          </div>
          <div class="button-style">
            <button mat-button matStepperNext (click)="isUpdate = !isUpdate">
              Siguiente
            </button>

            <button
              mat-button
              color="primary"
              mat-raised-button
              (click)="save()"
            >
              Guardar
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Datos Académicos</ng-template>
        <app-graduate-academics [auth]="true" [graduateProfilePk]="">
        </app-graduate-academics>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Experiencia Laboral</ng-template>
        <app-graduate-work-experience
          [auth]="true"
        ></app-graduate-work-experience>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Idiomas</ng-template>
        <app-graduate-language [auth]="true"></app-graduate-language>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Proyectos</ng-template>
        <app-graduate-projects [auth]="true" [graduateProfilePk]="">
        </app-graduate-projects>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Publicaciones</ng-template>
        <app-graduate-publications [auth]="true" [graduateProfilePk]=""></app-graduate-publications>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Reconocimientos</ng-template>
        <app-graduate-distinctions [auth]="true" [graduateProfilePk]="">
        </app-graduate-distinctions>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Logros Académicos</ng-template>
        <app-graduate-achievements
          [auth]="true"
          [graduateProfilePk]=""
        >
        </app-graduate-achievements>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Terminar</ng-template>
        <p>Actualización Terminada</p>
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button (click)="save()">Guardar</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
