<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: xx-large">Reporte de Usuarios</span>
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="margin-right: 1rem">school</mat-icon>
        Egresados
      </ng-template>
      <br>
      <h4>Seleccione rango de fechas:</h4>
      <p>
        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="33%" fxFlex.lg="33%" appearance="fill" style="padding-right: 1rem">
          <mat-label>Desde: </mat-label>
          <input matInput [matDatepicker]="pickerGraduateStart" [formControl]="dateGraduateStart">
          <mat-datepicker-toggle matSuffix [for]="pickerGraduateStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerGraduateStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="33%" fxFlex.lg="33%" appearance="fill" style="padding-right: 1rem">
          <mat-label>Hasta: </mat-label>
          <input matInput [matDatepicker]="pickerGraduateEnd" [formControl]="dateGraduateEnd">
          <mat-datepicker-toggle matSuffix [for]="pickerGraduateEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerGraduateEnd></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="33%" fxFlex.lg="33%" appearance="fill" >
          <mat-label>Escuela Profesional: </mat-label>
          <mat-select [formControl]="selectInstances"  multiple>
            <mat-option *ngFor="let instance of instances" [value]="instance.id">
              {{instance.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <h4 style="margin-bottom: 1rem;">Seleccione las columnas a exportar:</h4>
      <section class="row-section">
        <mat-checkbox
          [checked]="allCompleteGraduate"
          [color]="columnsGraduate.color"
          style="margin-right: 1rem; margin-bottom: 1rem;"
          [indeterminate]="someCompleteGraduate()"
          (change)="setAllGraduate($event.checked)"
        >
          {{columnsGraduate.name}}
        </mat-checkbox>
        <mat-checkbox
          *ngFor="let sub of columnsGraduate.subField"
          [(ngModel)]="sub.completed"
          [color]="sub.color"
          style="margin-right: 1rem; margin-bottom: 1rem;"
          (ngModelChange)="updateAllCompleteGraduate()">
            {{sub.name}}
        </mat-checkbox>
      </section>
      <div>
        <div fxFlex></div>
        <button mat-raised-button [disabled]="loading" color="primary" (click)="generateReportGraduate()">GENERAR REPORTE</button>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="margin-right: 1rem">location_city</mat-icon>
        Empresas
      </ng-template>
      <br>
      <h4>Seleccione rango de fechas:</h4>
      <p>
        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" appearance="fill" style="padding-right: 1rem">
          <mat-label>Desde :</mat-label>
          <input matInput [matDatepicker]="pickerCompanyStart" [formControl]="dateCompanyStart">
          <mat-datepicker-toggle matSuffix [for]="pickerCompanyStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerCompanyStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" appearance="fill" >
          <mat-label>Hasta :</mat-label>
          <input matInput [matDatepicker]="pickerCompanyEnd" [formControl]="dateCompanyEnd">
          <mat-datepicker-toggle matSuffix [for]="pickerCompanyEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerCompanyEnd></mat-datepicker>
        </mat-form-field>
      </p>
      <h4 style="margin-bottom: 1rem;">Seleccione las columnas a exportar:</h4>
      <section class="row-section">
        <mat-checkbox
          [checked]="allCompleteCompany"
          [color]="columnsCompany.color"
          style="margin-right: 1rem; margin-bottom: 1rem;"
          [indeterminate]="someCompleteCompany()"
          (change)="setAllCompany($event.checked)"
        >
          {{columnsCompany.name}}
        </mat-checkbox>
        <mat-checkbox
          *ngFor="let sub of columnsCompany.subField"
          [(ngModel)]="sub.completed"
          [color]="sub.color"
          style="margin-right: 1rem; margin-bottom: 1rem;"
          (ngModelChange)="updateAllCompleteCompany()"
        >
          {{sub.name}}
        </mat-checkbox>
      </section>
      <div>
        <div fxFlex></div>
        <button mat-raised-button [disabled]="loading" color="primary" (click)="generateReportCompany()">GENERAR REPORTE</button>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person</mat-icon>
        Administrador
      </ng-template>
      <br>
      <h4>Seleccione rango de fechas:</h4>
      <p>
        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" appearance="fill" style="padding-right: 1rem">
          <mat-label>Desde :</mat-label>
          <input matInput [matDatepicker]="pickerAdminStart" [formControl]="dateAdminStart">
          <mat-datepicker-toggle matSuffix [for]="pickerAdminStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerAdminStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" appearance="fill" >
          <mat-label>Hasta :</mat-label>
          <input matInput [matDatepicker]="pickerAdminEnd" [formControl]="dateAdminEnd">
          <mat-datepicker-toggle matSuffix [for]="pickerAdminEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerAdminEnd></mat-datepicker>
        </mat-form-field>
      </p>
      <h4 style="margin-bottom: 1rem;">Seleccione las columnas a exportar:</h4>
      <section class="row-section">
        <mat-checkbox
          [checked]="allCompleteAdmin"
          [color]="columnsAdmin.color"
          style="margin-right: 1rem; margin-bottom: 1rem;"
          [indeterminate]="someCompleteAdmin()"
          (change)="setAllAdmin($event.checked)"
        >
          {{columnsAdmin.name}}
        </mat-checkbox>
        <mat-checkbox
          *ngFor="let sub of columnsAdmin.subField"
          [(ngModel)]="sub.completed"
          [color]="sub.color"
          style="margin-right: 1rem; margin-bottom: 1rem;"
          (ngModelChange)="updateAllCompleteAdmin()"
        >
          {{sub.name}}
        </mat-checkbox>
      </section>
      <div>
        <div fxFlex></div>
        <button mat-raised-button [disabled]="loading" color="primary" (click)="generateReportAdmin()">GENERAR REPORTE</button>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">local_library</mat-icon>
        Super administrador
      </ng-template>
      <br>
      <h4>Seleccione rango de fechas:</h4>
      <p>
        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" appearance="fill" style="padding-right: 1rem">
          <mat-label>Desde :</mat-label>
          <input matInput [matDatepicker]="pickerSuperAdminStart" [formControl]="dateSuperAdminStart">
          <mat-datepicker-toggle matSuffix [for]="pickerSuperAdminStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerSuperAdminStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" appearance="fill" >
          <mat-label>Hasta :</mat-label>
          <input matInput [matDatepicker]="pickerSuperAdminEnd" [formControl]="dateSuperAdminEnd">
          <mat-datepicker-toggle matSuffix [for]="pickerSuperAdminEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerSuperAdminEnd></mat-datepicker>
        </mat-form-field>
      </p>
      <h4 style="margin-bottom: 1rem;">Seleccione las columnas a exportar:</h4>
      <section class="row-section">
        <mat-checkbox
          [checked]="allCompleteSuperAdmin"
          [color]="columnsSuperAdmin.color"
          style="margin-right: 1rem; margin-bottom: 1rem;"
          [indeterminate]="someCompleteSuperAdmin()"
          (change)="setAllSuperAdmin($event.checked)"
        >
          {{columnsSuperAdmin.name}}
        </mat-checkbox>
        <mat-checkbox
          *ngFor="let sub of columnsSuperAdmin.subField"
          [(ngModel)]="sub.completed"
          [color]="sub.color"
          style="margin-right: 1rem; margin-bottom: 1rem;"
          (ngModelChange)="updateAllCompleteSuperAdmin()"
        >
          {{sub.name}}
        </mat-checkbox>
      </section>
      <div>
        <div fxFlex></div>
        <button mat-raised-button [disabled]="loading" color="primary" (click)="generateReportSuperAdmin()">GENERAR REPORTE</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
