<div class="container">
  <div class="action-superior">
    <div
      fxLayout="row"
      style="margin-bottom: 30px"
      fxLayoutAlign="space-between center"
    >
      <span style="font-size: xx-large">Historial de Usuarios</span>
    </div>
        <div class="habilSyle">
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23%" fxFlex.lg="23%" appearance="outline" style="margin-right: 20px;">
            <mat-label>Buscar</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Usuario, Nombre de Usuario, Correo, Grupo"
              #input
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23%" fxFlex.lg="23%" appearance="fill" style="margin-right: 20px;">
            <mat-label>Filtrar por Grupo de Usuario</mat-label>
            <mat-select (selectionChange)="onSelectGroup($event.value)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let group of listGroup" [value]=group>
                {{group.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23%" fxFlex.lg="23%" appearance="fill" style="margin-right: 20px;">
            <mat-label>Filtrar por Usuario</mat-label>
            <mat-select (selectionChange)="onSelectUser($event.value)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let user of listUser" [value]=user.username>
                {{user.first_name + ' ' + user.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="23%" fxFlex.lg="23%" appearance="fill" >
            <mat-label>Filtrar por fechas</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate [(ngModel)]="startDate" (dateInput)="StartDateChange()" placeholder="Start date">
              <input matEndDate [(ngModel)]="endDate" (dateInput)="EndDateChange()" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix (click)="resetRange()">
              <mat-icon matDatepickerToggleIcon>clear</mat-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
    </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <table mat-table [dataSource]="dataSource" class="demo-table" matSort  (matSortChange)="onChangeSort($event)">
    <ng-container matColumnDef="user__username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.user.username }}</td>
    </ng-container>
    <ng-container matColumnDef="user__email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
      <td mat-cell *matCellDef="let element">{{ element.user.email }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Generado el</th>
      <td mat-cell *matCellDef="let element">
        {{ element.created | date: "dd/MM/YYYY h:mm a" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="content_type">
      <th mat-header-cell *matHeaderCellDef>En la seccion de</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.content_type!=null" >
          {{ element.content_type.app_label }}
        </span>
        <span *ngIf="element.content_type==null" >
          -
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator #paginator
    showFirstLastButtons
    [length]="totalSize"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="currentPage"
    (page)="handlePage($event)"
  >
  </mat-paginator>
</div>
