.container {
    margin: 2%;
    width: 98%;
    .action-superior{
      width: 98%;
      margin-bottom:20px;
    }
    .mat-form-field {
      font-size: 14px;
    }
    .mat-datepicker-toggle {
      display: inline-block;
    }
    .table {
      width: 98%;
      .demo-table {
        width: 100%;
        margin-right: 10px;
      }
      .pointer {
        cursor: pointer;
      }
    }
  }
  .habilSyle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hijo{
    flex-grow: 1;
    flex-basis: 100%;
  }
