<div class="container-principal">
    <div class="container">
      <mat-toolbar>
        <span>{{manual ? "Editar Manual" : "Agregar Manual"}}</span>
      </mat-toolbar>
    </div>
    <div class="detail-manual">
      <form [formGroup]="manualForm" class="wrap-form" autocomplete="off">
        <div>
          <input type="hidden" formControlName="id" />

          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input formControlName="name" matInput placeholder="Título" />
            </mat-form-field>
          </div>

          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input
                formControlName="link"
                matInput
                placeholder="Link"
                autocomplete="off"
                type="search"
              />
            </mat-form-field>
          </div>
          <div class="ck-form-control-wrap fline">
            <ckeditor
              [config]="editorConfig"
              [editor]="editor"
              formControlName="description"
            ></ckeditor>
          </div>
          <div class="fline" fxLayout="row" fxflex fxLayoutGap="40px">
            <label for="file">Archivo</label>

            <a
            *ngIf="showBeforeManual"
            href="{{manual.file}}"
            target="_blank"
            style="color: black;"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="View Before Document"
              matTooltip="Ver Documento Anterior"
            >
            folder
            </mat-icon>
          </a>

            <input id="file" type="file" (change)="onFileChange($event)" />
          </div>
          <!--
          <div class="fline" fxLayout="row" fxflex>
            <mat-checkbox formControlName="is_active">Habilitado</mat-checkbox>
          </div>
         -->
          <div class="actions" fxLayout="row">
            <div fxLayout="row" *ngIf="manualForm.value.id">
              <button
                *ngIf="manualForm.value.id"
                (click)="removeAction()"
                mat-button
                color="warn"
              >
                Eliminar
              </button>
            </div>
            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="end center"
              fxLayoutGap="15px"
            >
              <button (click)="cancel()" mat-stroked-button color="primary">
                Cancelar
              </button>
              <button (click)="save()" mat-raised-button color="primary">
                {{ manual ? "Confirmar cambios" : "Crear Manual" }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
