<div class="container-principal">
  <div class="container">
    <mat-toolbar style="margin: 0px 35px">
      <span>{{activityForm.value.id ? "Editar" : "Agregar"}} Actividad</span>
    </mat-toolbar>
    <div class="detail-activity">
      <form [formGroup]="activityForm" class="wrap-form" autocomplete="off">
        <div>
          <input type="hidden" formControlName="id" />
          <div class="fline" fxLayout="row" fxLayoutGap="40px">
            <mat-form-field fxFlex appearance="legacy">
              <input
                matInput
                formControlName="start_date"
                autocomplete="off"
                type="datetime-local"
                placeholder="Fecha de Inicio"
              />
              <mat-error>Este campo es obligatorio.</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex appearance="legacy">
              <input
                matInput
                formControlName="end_date"
                autocomplete="off"
                type="datetime-local"
                placeholder="Fecha Final"
              />
              <mat-error>Este campo es obligatorio.</mat-error>
            </mat-form-field>
          </div>
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input formControlName="title" matInput placeholder="Título" />
            </mat-form-field>
          </div>
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
            <mat-select placeholder="Tipo de Actividad" formControlName="activity_type">
              <mat-option
                *ngFor="let activity_type of activity_types"
                [value]=" activity_type.id "
                required
              >
                {{ activity_type.name }}
              </mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input
                formControlName="stream_link"
                matInput
                autocomplete="off"
                type="search"
                placeholder="Link Stream"
              />
            </mat-form-field>
          </div>
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input
                formControlName="meet_link"
                matInput
                placeholder="Meet de link de la Reunión"
                autocomplete="off"
                type="search"
              />
            </mat-form-field>
          </div>
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input
                formControlName="link"
                matInput
                placeholder="Link"
                autocomplete="off"
                type="search"
              />
            </mat-form-field>
          </div>
          <div class="ck-form-control-wrap fline">
            <ckeditor
              [config]="editorConfig"
              [editor]="editor"
              formControlName="description"
            ></ckeditor>
          </div>
          <div class="fline" fxLayout="row" fxflex fxLayoutGap="40px">
            <label for="image">Imagen</label>
            <a
              *ngIf="showBeforeImage"
              href="{{activity.image}}"
              target="_blank"
              style="color: black;"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="View Before Imagen"
                matTooltip="Ver Imagen Anterior"
              >
                image
              </mat-icon>
            </a>
            <input id="image" type="file" (change)="onFileChange($event)" />
            
          </div>
          <div class="fline" fxLayout="row" fxflex>
            <mat-checkbox formControlName="can_register">Pueden registrarse</mat-checkbox>
          </div>
              
          <div class="actions" fxLayout="row">
            <div fxLayout="row" fxLayoutGap="15px">
              <button
                *ngIf="activityForm.value.id && authUserService.checkPermissions('delete_activity')"
                (click)="removeAction()"
                mat-stroked-button
                color="warn"
              >
                Eliminar
              </button>

              <app-select-target #selectTarget (select)="select()">
              </app-select-target>
            </div>
            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="end center"
              fxLayoutGap="15px"
            >
              <button (click)="cancel()" mat-stroked-button color="primary">
                Cancelar
              </button>
              <button
                (click)="save()"
                mat-raised-button
                color="primary"
                [disabled]="activityForm.invalid"
              >
                {{
                  (activityForm.value.id ? "Confirmar" : "Crear").concat(
                    this.selectedUsers.length > 0 ? " y enviar" : ""
                  )
                }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
