<div fxLayout="column">
  <div>
    <h2 mat-dialog-title fxFlex>
      Detalle Sugerencia
    </h2>
    <button [mat-dialog-close]="" class="close-dialog">
      <mat-icon style="vertical-align: middle; margin-bottom: 4px"
        >close</mat-icon
      >
    </button>
  </div>
  <mat-dialog-content>
    <div class="content">
      <h3>Sugerencia enviada por: {{data.item.user_pk.username}}</h3>
      <p><b> <mat-icon>calendar_today</mat-icon> Fecha: </b>{{data.item.datetime.substr(0,10)}}</p>
      <p><b> Descripción: </b>{{data.item.text}}</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="" class="close-dialog">Cerrar</button>
  </mat-dialog-actions>
</div>
