<div class="container-principal">
    <div class="container">
      <mat-toolbar>
        <span>{{sede ? "Editar Sede" : "Agregar Sede"}}</span>
      </mat-toolbar>
    </div>
    <div class="detail-area">
      <form [formGroup]="sedeForm" class="wrap-form" autocomplete="off">
        <div>
          <input type="hidden" formControlName="id" />
          <div class="fline" fxLayout="row">
            <mat-form-field fxFlex appearance="legacy">
              <input formControlName="name" matInput placeholder="Nombre" />
            </mat-form-field>
          </div>
          <!--div class="fline" fxLayout="row" fxflex>
            <mat-checkbox formControlName="is_active">Habilitado</mat-checkbox>
          </div-->
          <div class="actions" fxLayout="row">
            <div fxLayout="row" *ngIf="sedeForm.value.id">
              <button
                *ngIf="sedeForm.value.id"
                (click)="removeAction()"
                mat-button
                color="warn"
              >
                Eliminar
              </button>
            </div>
            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="end center"
              fxLayoutGap="15px"
            >
              <button (click)="cancel()" mat-stroked-button color="primary">
                Cancelar
              </button>
              <button
                (click)="save()"
                mat-raised-button
                color="primary"
              >
                {{sede ? "Confirmar cambios"  : "Crear Sede Universidad"}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
