.container {
  margin: 2%;
  width: 98%;
  .action-superior {
    width: 98%;
    margin-bottom: 20px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .table {
    width: 98%;
    .demo-table {
      width: 100%;
      margin-right: 10px;
    }
    .pointer {
      cursor: pointer;
    }
    // .mat-header-cell{
    //   text-align: center;
    // }
    // .mat-cell{
    //   text-align: center;
    // }
  }
}

.habilSyle {
  margin-top: 20px;
}
