<div fxLayout="column">
  <div>
    <h2 mat-dialog-title fxFlex style="color: #590219">
      <mat-icon style="vertical-align: middle; margin-bottom: 4px"
      >warning</mat-icon> Deshabilitar Cuenta
    </h2>
    <button [mat-dialog-close]="" class="close-dialog">
      <mat-icon style="vertical-align: middle; margin-bottom: 4px"
        >close</mat-icon
      >
    </button>
  </div>
  <mat-dialog-content>
    <div class="content" style="margin-top: 10px">
      <h2>¿Esta seguro que desea deshabilitar su cuenta de usuario?</h2>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onClickNo()">
      Cancelar
    </button>
    <button mat-button (click)="confirmDisabled()" color="primary">
      Confirmar
    </button>
  </mat-dialog-actions>
</div>
