.close-dialog {
  width: 20px;
  height: 20px;
  margin: 0px -5px;
  background: none;
  border: none;
  outline: none;

  &:hover {
    background: #fafafa;
    cursor: pointer;
    border-radius: 100%;
  }
}
.imgContainer {
  text-align: center;
}.imgContainer > img {
   width: 300px;
   height: 300px;
   object-fit: cover;
 }
.mat-dialog-content .content > img {
  text-align: center;
  align-content: center;
  object-fit: cover;
  max-width: 40%;
  min-width: 40%;
  align-content: center;
  border-radius: 30px;
}

mat-dialog-actions {
  justify-content: end;
}
.fline {
  margin-bottom: 12px;
}
h2 { margin: 0 }
